
<ul #navigation class="nav-dots" id="js-dots">
    <li class="nav-dot"></li>
    <li class="nav-dot"></li>
    <li class="nav-dot"></li>
    <li class="nav-dot"></li>
  </ul>
  
  <main #sectionsContainer class="main">

    
    <section class="section">
      <h2 class="section__heading">Smooth scrolling</h2>
    </section>

    <section class="section">
      <h2 class="section__heading">Well donsse!</h2>
    </section>
    <section class="section">
      <h2 class="section__heading">Well donsse!</h2>
    </section>
        <section class="section">
      <div>
      </div>
    </section>
  </main>