<div class="mt-10 sm:mt-0">
  <div class=" flex flex-col">
    <div class="">
      <div class="p-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Editar producto</h3>
        <!--<p class="mt-1 text-sm text-gray-600">Crear productos</p>-->
      </div>
    </div>
    <div class="mt-5">
      <form *ngIf="loaded" [formGroup]="registerForm">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6">
                <div class="flex flex-row justify-start items-center space-x-2">
                  <h3 class="text-lg font-medium leading-6 text-gray-900">Tipo</h3>
                  <select formControlName="type" (change)="productType($event)" id="country" name="country" autocomplete="country-name"
                           class="w-1/4 block rounded-md border border-gray-300
                  bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    <option  [value]="1">Producto simple</option>
                    <option  [value]="2">Producto variable</option>
                  </select>
                  <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">type is required</div>
                  </div>
                  <!--<p class="mt-1 text-sm text-gray-600">Crear productos</p>-->
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="inputName" class="block text-sm font-medium text-gray-700">Nombre</label>
                <input id="inputName" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">name is required</div>
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="inputDesc" class="block text-sm font-medium text-gray-700">Desc</label>
                <input id="inputDesc" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" formControlName="desc" type="text" name="first-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                  <div *ngIf="f.desc.errors.required">desc is required</div>
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="inputPrice" class="block text-sm font-medium text-gray-700">Precio</label>
                <input id="inputPrice" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" formControlName="price" type="text" name="first-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors.required">price is required</div>
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="inputStock" class="block text-sm font-medium text-gray-700">Cantidad</label>
                <input id="inputStock" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }" formControlName="stock" type="text" name="first-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
                  <div *ngIf="f.stock.errors.required">stock is required</div>
                </div>
              </div>
<!--              <div class="col-span-6 sm:col-span-3">-->
<!--                  <img *ngIf="product"-->
<!--                    src="http://ctrl-api.test/storage/images/{{product.img}}"-->
<!--                    class="h-12 w-12 bg-white rounded-full border"-->
<!--                    alt="..."-->
<!--                  />-->
<!--              </div>-->
              <div class="col-span-6 sm:col-span-6">
                <input id="inputImg" formControlName="img" [ngClass]="{ 'is-invalid': submitted && f.img.errors }"  #file  type="file" class=" hidden word-wrap custom-file-input break-words break-all" (change)="onFileChanged($event)"/>
                <label
                  [ngClass]="{'bg-blue-500':!submitted && this.selectedFile === null,
                                     'bg-green-500':!submitted && this.selectedFile !== null || submitted && this.selectedFile !== null,
                                     'bg-red-500':submitted && this.selectedFile === null}"
                  class=" hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" for="inputImg">Imagen</label>
                <label class="ml-4 text-xs" for="inputImg">{{this.selectedFile?.name}}</label>
                <div *ngIf="submitted && f.img.errors" class="invalid-feedback">
                  <div *ngIf="f.img.errors.required">img is required</div>
                </div>
              </div>
              <div class="col-span-2 sm:col-span-2">
                <label class="block text-sm font-medium text-gray-700">Categoria</label>
                <select formControlName="category"  (change)="selectCategory($event)"
                        autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option [value]="null">Selecciona una categoria</option>
                  <option *ngFor="let value of this.categories"
                          [value]="value.id">
                    {{value.name}}
                  </option>
                </select>
              </div>
              <div class="col-span-2 sm:col-span-2">
                <label class="block text-sm font-medium text-gray-700">subcategory</label>
                <select formControlName="subcategory"  (change)="selectSubCategory($event)"
                        autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option [value]="null">Selecciona una subcategory</option>
                  <option *ngFor="let value of this.subcategories"
                          [value]="value.id">
                    {{value.name}}
                  </option>
                </select>
              </div>
              <div class="col-span-2 sm:col-span-2">
                <label class="block text-sm font-medium text-gray-700">supercategory</label>
                <select  formControlName="supercat"  (change)="selectSuperCategory($event)"
                         autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option [value]="null">Selecciona una supercategory</option>
                  <option *ngFor="let value of this.supercategories"
                          [value]="value.id">
                    {{value.name}}
                  </option>
                </select>
              </div>
              <div class="col-span-6" *ngIf="attributes_group && product.type===1" >
                <label class="block text-sm font-medium text-gray-700">Atributos</label>
                <div  class="flex space-x-2">
                  <div class="flex-1" *ngFor="let attr of attributes_group | keyvalue">
                    <label for="country" class="block text-sm font-medium text-gray-700">{{ attr.key }}</label>
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedOptions[attr.key]" (ngModelChange)="selectVariation($event)"
                            id="country" name="{{attr.key}}" autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300
                            bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      <option [value]="null">Selecciona un/a {{ attr.key }}</option>
                      <option *ngFor="let value of attr.value"
                              [value]="value.id">
                        {{value.value}}
                        {{value.id}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button [disabled]="loading" (click)="passBack()" type="submit" class="inline-flex justify-center rounded-md border border-transparent
            bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none
             focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <div *ngIf="loading" class="mr-2 border-t-transparent border-solid animate-spin  rounded-full border-white border-2 h-4 w-4"></div>
              Save</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="mt-10 sm:mt-0" *ngIf="product.type===2">
  <div class="flex flex-col">
    <div class="">
      <div class="p-8 sm:px-0 flex flex-row justify-start items-center space-x-4">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Variaciones</h3>
        <select    name="country" autocomplete="country-name"
                   class="w-1/4 block rounded-md border border-gray-300
                  bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          <option value="1">Añadir variación</option>
          <option (click)="createAllVariation()" value="2">Crear variaciones para todos los atributos</option>
        </select>
        <button type="submit" class="inline-flex justify-center rounded-md border
        border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
        shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Crear</button>

        <!--<p class="mt-1 text-sm text-gray-600">Crear productos</p>-->
      </div>
    </div>
    <div class="">
      <form action="#" method="POST">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div  class="flex space-x-2">
              <div class="flex-1" *ngFor="let attr of attributes_group | keyvalue">
                <label for="country" class="block text-sm font-medium text-gray-700">{{ attr.key }}</label>
                <select [(ngModel)]="selectedOptions[attr.key]" (ngModelChange)="selectVariation($event)"
                        id="country" name="{{attr.key}}" autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option [value]="null">Selecciona un/a {{ attr.key }}</option>
                  <option *ngFor="let value of attr.value"
                          [value]="value.id">
                    {{value.value}}
                  </option>
                </select>
              </div>
              <div class="self-end">
                <button (click)="createVariation()" type="submit"
                        class="inline-flex justify-center rounded-md border border-transparent
                        bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700
                        focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Añadir</button>
              </div>
            </div>
          </div>
          <div *ngFor="let variation of variations; let i = index" class="border-t border-gray-200 px-4 py-6">
            <h3 class="-mx-2 -my-3 flow-root">
              <button  type="button"
                       class="flex w-full items-center justify-start px-2 py-3 text-gray-400 hover:text-gray-500"
                       aria-controls="filter-section-mobile-0" aria-expanded="false" (click)="toggleExpansion(i)">
                <span *ngFor="let attribute of variation.attributes;" class="p-2 font-medium text-gray-900">{{attribute.name}} {{attribute.value}}</span>
                <span class="ml-auto">
                    <svg *ngIf="expandedDivId !== i" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <svg *ngIf="expandedDivId === i" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
              </button>
            </h3>
            <div class="pt-6" id="filter-section-0" *ngIf="expandedDivId === i" [id]="i">
              <div class="space-y-4">
                <form *ngIf="variationsForm[variation.id]" [formGroup]="variationsForm[variation.id]">
                  <div class="overflow-hidden shadow sm:rounded-md">
                    <div class="bg-white px-4 py-5 sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                          <label for="inputPrice" class="block text-sm font-medium text-gray-700">Precio</label>
                          <input id="inputPrice" [ngClass]="{ 'is-invalid': submitted && fv(variation.id) .price.errors }" formControlName="price" type="text" name="first-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                          <div *ngIf="submitted && fv(variation.id) .price.errors" class="invalid-feedback">
                            <div *ngIf="fv(variation.id) .price.errors.required">price is required</div>
                          </div>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                          <label for="inputStock" class="block text-sm font-medium text-gray-700">Cantidad</label>
                          <input id="inputStock" [ngClass]="{ 'is-invalid': submitted && fv(variation.id) .stock.errors }" formControlName="stock" type="text" name="first-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                          <div *ngIf="submitted && fv(variation.id) .stock.errors" class="invalid-feedback">
                            <div *ngIf="fv(variation.id) .stock.errors.required">stock is required</div>
                          </div>
                        </div>
                        <div class="col-span-6 sm:col-span-4 flex justify-between flex-wrap">
                          <img
                            src="{{ imgUrl }}storage/images/{{variation.img}}"
                            class="h-12 w-12 bg-white rounded-full border"
                            alt="..."
                          />
                        </div>
                        <div class="col-span-6 sm:col-span-4 flex justify-between flex-wrap">
                          <div class="col-span-6 sm:col-span-3">
                            <input id="inputImg2" formControlName="img" [ngClass]="{ 'is-invalid': submitted && f.img.errors }"  #file  type="file" class=" hidden word-wrap custom-file-input break-words break-all"
                                   (change)="onFileChangedVariation($event,variation.id)"/>
                            <label
                              [ngClass]="{'bg-blue-500':!submitted && this.selectedFileVariations[variation.id] === null,
                                     'bg-green-500':!submitted && this.selectedFileVariations[variation.id] !== null ||
                                      submitted && this.selectedFileVariations[variation.id] !== null,
                                     'bg-red-500':submitted && this.selectedFileVariations[variation.id] === null}"
                              class=" hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" for="inputImg2">Imagen</label>
                            <label class="ml-4 text-xs" for="inputImg2">{{fv(variation.id) .img.value}}</label>
                            <div *ngIf="submitted && fv(variation.id) .img.errors" class="invalid-feedback">
                              <div *ngIf="fv(variation.id) .img.errors.required">img is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                      <button [disabled]="loading" (click)="saveVariation(variation)"  type="submit" class="inline-flex justify-center rounded-md border border-transparent
            bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none
             focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <div *ngIf="loading" class="mr-2 border-t-transparent border-solid animate-spin  rounded-full border-white border-2 h-4 w-4"></div>
                        Save</button>

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-alert (showChange)="show=!show"  [autocloseTime]="autocloseTime" [show]="show" [text]="text" [color]="color"></app-alert>
