<div #slide class='slider  '>
    <input name="input-slider" id='input-slide-0' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-1' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-2' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-3' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-autoplay' type="radio" class='input-slide' checked>
    <ul class="">
      <li class='slide-0 '>
        <img onload="this.classList.add('loaded')" loading="lazy" class="fixed w-full h-[280px] md:h-[520px] " 
        src="./assets/img/banners/banner_7.png" alt="">
        <div class="  mx-auto relative h-[280px] md:h-[720px] px-4 lg:px-10 pb-10 pt-20 text-warmGray-50">
          <div class=" p-4 rounded sticky top-[62px] w-3/4 md:w-1/2  
          flex flex-col animation_div_right -translate-x-full">
                      <p class="banco text-4xl lg:text-7xl font-black text_font_marvel mt-4">Gameplay Revealed</p>
                      <p class="text-2xl my-6 font-semibold">Check out the all-new gameplay for 'Marvel's Spider-Man 2', just revealed at PlayStation Showcase 2023!</p>
                      <app-button3d  class="w-[100px] "
                      [rounded]="'5px'" [title]="''"
                      [type]="'btn_primary'"
                      [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                      [raise]="5" [width]="'100%'">
                        <div class="font-black w-full h-full gap-3 text-warmGray-50 flex flex-nowrap justify-center items-center uppercase">
                        <p class="font-bold">Show all</p>
                        </div>
                      </app-button3d>
                      </div>
        </div>
      </li>
      <li class='slide-1 '>
        <img onload="this.classList.add('loaded')" loading="lazy" class="fixed w-full h-[280px] md:h-[520px] " 
        src="./assets/img/banners/banner_8.jpg" alt="">
        <div class="  mx-auto relative h-[280px] md:h-[720px] px-4 lg:px-10 pb-10 pt-20 text-warmGray-50">
            <div class=" ml-auto p-4 rounded sticky top-[62px] w-3/4 md:w-1/2  
            flex flex-col animation_div_left -translate-x-full">
                        <p class="banco text-4xl lg:text-7xl font-black text_font_marvel mt-4">Gameplay Revealed</p>
                        <p class="text-2xl my-6 font-semibold">Check out the all-new gameplay for 'Marvel's Spider-Man 2', just revealed at PlayStation Showcase 2023!</p>
                        <app-button3d  class="w-[100px] "
                        [rounded]="'5px'" [title]="''"
                        [type]="'btn_primary'"
                        [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                        [raise]="5" [width]="'100%'">
                          <div class="font-black w-full h-full gap-3 text-warmGray-50 flex flex-nowrap justify-center items-center uppercase">
                          <p class="font-bold">Show all</p>
                          </div>
                        </app-button3d>
                        </div>
          </div>
       
      </li>
      <li class='slide-2'>
        <img onload="this.classList.add('loaded')" loading="lazy" class="fixed w-full h-[280px] md:h-[520px] " 
        src="./assets/img/banners/banner_6.jpeg" alt="">
        <div class="  mx-auto relative h-[280px] md:h-[720px] px-4 lg:px-10 pb-10 pt-20 text-warmGray-50">
          <div class=" p-4 rounded sticky top-[62px] w-3/4 md:w-1/2  
          flex flex-col animation_div_right -translate-x-full">
                      <p class="banco text-4xl lg:text-7xl font-black text_font_marvel mt-4">Gameplay Revealed</p>
                      <p class="text-2xl my-6 font-semibold">Check out the all-new gameplay for 'Marvel's Spider-Man 2', just revealed at PlayStation Showcase 2023!</p>
                      <app-button3d  class="w-[100px] "
                      [rounded]="'5px'" [title]="''"
                      [type]="'btn_primary'"
                      [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                      [raise]="5" [width]="'100%'">
                        <div class="font-black w-full h-full gap-3 text-warmGray-50 flex flex-nowrap justify-center items-center uppercase">
                        <p class="font-bold">Show all</p>
                        </div>
                      </app-button3d>
                      </div>
        </div>
      </li>
      <li class='slide-3'>
        <img onload="this.classList.add('loaded')" loading="lazy" class="fixed w-full h-[280px] md:h-[520px] " 
        src="./assets/img/banners/banner_8.jpg" alt="">
        <div class="  mx-auto relative h-[280px] md:h-[720px] px-4 lg:px-10 pb-10 pt-20 text-warmGray-50">
            <div class=" ml-auto p-4 rounded sticky top-[62px] w-3/4 md:w-1/2  
            flex flex-col animation_div_left -translate-x-full">
                        <p class="banco text-4xl lg:text-7xl font-black text_font_marvel mt-4">Gameplay Revealed</p>
                        <p class="text-2xl my-6 font-semibold">Check out the all-new gameplay for 'Marvel's Spider-Man 2', just revealed at PlayStation Showcase 2023!</p>
                        <app-button3d  class="w-[100px] "
                        [rounded]="'5px'" [title]="''"
                        [type]="'btn_primary'"
                        [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                        [raise]="5" [width]="'100%'">
                          <div class="font-black w-full h-full gap-3 text-warmGray-50 flex flex-nowrap justify-center items-center uppercase">
                          <p class="font-bold">Show all</p>
                          </div>
                        </app-button3d>
                        </div>
          </div>
      </li>
    </ul>
    <div class="flex items-center justify-center">
      <div class='slider-dot '>
        <label class='slide-0' for='input-slide-0'></label>
        <label class='slide-1' for='input-slide-1'></label>
        <label class='slide-2' for='input-slide-2'></label>
        <label class='slide-3' for='input-slide-3'></label>
      </div>
    </div>
  
  </div>
  
  