
.framer-1ph24t6 {
  -webkit-mask: linear-gradient(270deg,#000000 0%,rgba(0,0,0,.76) 60%,rgba(0,0,0,0) 100%) add;
  align-content: center;
  align-items: center;
  bottom: 0;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  mask: linear-gradient(270deg,#000000 0%,rgba(0,0,0,.76) 60%,rgba(0,0,0,0) 100%) add;
  overflow: visible;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  z-index: 1;
  height: inherit;
  opacity: 0.5;
}

.framer-1e85zkz-container {
  flex: none;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
}
.brands.move {
    animation: slide 15s linear infinite;
}

/* Definimos los keyframes para la animación */
@keyframes slide {
  from {
    transform: translateX(0); /* Posición inicial */
  }
  to {
    transform: translateX(-200%); /* Posición final */
  }
}

.framer-zxpwxw {
  background: radial-gradient(ellipse farthest-side at center,rgba(0,178,255) 20.75978322072072%,rgba(171,171,171,0) 100%);
  flex: none;
  height: 80%;
  opacity: .6;
/*   overflow: hidden;
 */  
 position: absolute;
  top: -20%;
  width: 100%;
  left: 0;
  right: 0;
  will-change: var(--framer-will-change-override, transform);
/*   z-index: 0;
 */}

 .glow2 {
  box-shadow: -1px -8px 30px -7px rgba(38, 221, 221, 0.6);
  -webkit-box-shadow: -1px -12px 39px -14px rgba(38, 221, 221, 0.6);
  -moz-box-shadow: -1px -12px 39px -14px rgba(38, 221, 221, 0.6);  ;
/*   flex: none;
 */ 
  height: 80%;
  opacity: .6;
/*   overflow: hidden;
 */  
 position: absolute;
  top: 0%;
  width: 100%;
  left: 0;
  right: 0;
  will-change: var(--framer-will-change-override, transform);}
.test{
  mask: linear-gradient(0deg,rgba(0, 0, 0, 0) 1%,rgba(0, 0, 0, 0.37) 25%,rgb(0, 0, 0) 60%) add;}
.test2{
  mask: linear-gradient(0deg,rgba(0, 0, 0, 0.09) 1%,rgba(0, 0, 0, 0.92) 25%,rgb(0, 0, 0) 60%) add;
}
/* .mask2{
  mask: radial-gradient(50% 40% at 55% 50%,rgba(0, 0, 0, 0.32) 64.56925675675676%,#000 93.16230292792793%) add;
} */
.mask {
  mask:radial-gradient(60% 45% at 50% 55%,#0000 50.56925675675676%,rgb(0, 0, 0) 80.16230292792793%) add;
}
.mask2{
  mask: radial-gradient(82% 84% at 1.0999999999999999% 16%,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.96) 100%) add;
}
.section3_animation .div3{
  mask: linear-gradient(0deg,rgba(0, 0, 0, 0.37) 30%,rgba(0, 0, 0, 0.884) 70%) add;
}
/* 
.framer-u4feO .framer-ah6xu5 {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 100%;
  justify-content: center;
  left: calc(50.00000000000002% - 100% / 2);
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.framer-u4feO .framer-lixmbq, .framer-u4feO .framer-bwuns3 {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 394px;
}

.ssr-variant {
  display: contents;
} */
/* 
.framer-u4feO .framer-t02vse, .framer-u4feO .framer-14ogxfn {
  aspect-ratio: .5956112852664577 / 1;
  border-radius: 8px;
  cursor: pointer;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 319px);
  opacity: .6;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 100%;
  will-change: var(--framer-will-change-override, transform);
  z-index: 1;
} */

.section4_animation div{
  @apply flex rounded;
}

.section4_animation a{
  @apply  w-full opacity-60;
}

.section4_animation a:hover{
  @apply  w-full opacity-80;
}
.section4_animation img{
  @apply rounded w-full;
}
.section4_animation {
/*   mask: linear-gradient(0deg,rgba(0, 0, 0, 0.13) 5%,rgba(0, 0, 0, 0.527) 95%) add;
 */}


.section4_animation .div_back{
/*   z-index: 100;
 *//*   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 68%, rgba(0,0,0,1) 100%);
 */ }
    /* Custom glow effect */

 .card {
  width: 300px;
  padding: 20px;
  border-radius: 1px;
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0 0 100px rgba(0, 255, 255, 0.3);
  transition: box-shadow 0.4s ease, transform 0.4s ease;
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.8), 0 0 50px rgba(0, 255, 255, 0.6);
  transform: scale(1.05);
}

.card h2 {
  margin: 0;
  padding: 0;
}

.card p {
  margin-top: 10px;
  color: #ccc;
}

.scroll-container {
  cursor: grab;
  scroll-behavior: smooth;
  user-select: none;
  scrollbar-width: none; /* Firefox */
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}
.scroll-container:active {
  cursor: grabbing;
}

.item {
  display: inline-block;
  margin-right: 10px;
}


.video-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: inherit;
    object-fit: cover;
  z-index: -1;
}

/* .framer-746qzd {
  background: radial-gradient(50% 50% at 50% 50%,#0095ff 0%,rgba(171,171,171,0) 100%);
  border-radius: 8px;
  bottom: -430px;
  flex: none;
  height: 730px;
  left: calc(50.00000000000002% - min(1800px,1440px) / 2);
  max-width: 1800px;
  opacity: .4;
  overflow: hidden;
  position: absolute;
  width: 1440px;
  will-change: var(--framer-will-change-override, transform);
  z-index: 1;
  overflow: hidden;
} */

.framer-yz9qzl {
  -webkit-mask: linear-gradient(180deg,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%) add;
  background: radial-gradient(62% 67.9245283018868% at 39% 41.5%,rgba(0,81,255,0) 0%,rgba(0,153,255,0) 36%,rgba(0,153,255,0) 63%,rgba(0,128,255,.25) 83%,rgb(0,51,255) 100%);
  bottom: 0;
  flex: none;
  height: 498px;
  left: 0;
  mask: linear-gradient(180deg,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%) add;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 2;
}

.framer-lw3v16 {
  background: radial-gradient(50% 32% at 50% 100%,#009dff 0%,rgba(0,217,255,.25) 53%,rgba(0,119,255,.15) 79%,rgba(0,178,255,0) 100%);
  bottom: 0;
  flex: none;
  height: 290px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 3;
}

.framer-g380qr {
  -webkit-mask: radial-gradient(73% 93% at 48.5% 40.300000000000004%,rgba(0,0,0,.1) 0%,rgba(0,0,0,.3) 64%,rgba(0,0,0,1) 100%) add;
  background: linear-gradient(180deg,rgba(0,153,255,0) 0%,rgb(0,178,255) 100%);
  flex: none;
  inset: 108px 0 0;
  mask: radial-gradient(73% 93% at 48.5% 40.300000000000004%,rgba(0,0,0,.1) 0%,rgba(0,0,0,.3) 64%,rgba(0,0,0,1) 100%) add;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
.framer-s4l5dvf {
  -webkit-mask: radial-gradient(50% 131% at 48.699999999999996% 31.8%,rgba(0,0,0,.5) 0%,rgba(0,0,0,.32556) 64%,rgba(0,0,0,1) 100%) add;
  background: linear-gradient(180deg,rgba(0,85,255,0) 0%,rgba(8,0,255,.7) 100%);
  flex: none;
  inset: 208px 0 0;
  mask: radial-gradient(50% 131% at 48.699999999999996% 31.8%,rgba(0,0,0,.5) 0%,rgba(0,0,0,.32556) 64%,rgba(0,0,0,1) 100%) add;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* El elemento empieza más abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* El elemento regresa a su posición original */
  }
}

.fade-in-up {
  opacity: 0; /* Comienza invisible */
  animation: fadeInUp 1s ease-out forwards; /* Duración 1 segundo, animación suave */
}