  <div #slide class='slider  '>
    <input name="input-slider" id='input-slide-0' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-1' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-2' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-3' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-4' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-5' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-autoplay' type="radio" class='input-slide' checked>
    <ul class="">
      <li class='slide-0 '>
        <div class="max-w-6xl mx-auto relative h-[800px]  lg:px-10 pb-10 pt-0 md:pt-20 text-textPrimary">
          <div class="sticky top-[150px] w-1/2 p-4 flex flex-col animation_div_right">
<!--            <img class="w-3/4 md:w-1/3 " src="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png"-->
<!--                 srcset="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png" alt="MSM2">-->
          <p class="text-xl lg:text-3xl font-bold  ">¡Dale vida a tu espacio!</p>
          <p class=" text-md md:text-xl my-6">
            Descubre la versatilidad y el encanto de nuestras estructuras con palets. Desde acogedores sofá camas hasta prácticas estanterías, transforma cualquier rincón de tu hogar con nuestros diseños únicos y funcionales.          </p>
            <app-button3d class="w-full lg:w-1/2 "
                          [rounded]="'5px'" [title]="''"
                          [bg_front_color]="'transparent'"
                          [bg_shadow_color]="'transparent'"
                          [bg_back_color]="'transparent'"
                          [font_size]="'12px'" [font_body_weight]="'900'" [height]="'35px'"
                          [border]="'2px'"
                          [border_style]="'solid transparent var(--border)'"
                          [width]="''" [raise]="0">
              <div class="w-full h-full gap-3 text-textPrimary flex flex-nowrap justify-start items-center uppercase">
                <p>ver mas </p>
                <i class="fas fa-light fa-arrow-right  text-xs "></i>
              </div>
            </app-button3d>
          </div>
          <div>

          </div>
        </div>
      </li>
      <li class='slide-1 '>
        <div class="max-w-6xl mx-auto relative h-[800px]  lg:px-10 pb-10 pt-0 md:pt-20 text-textPrimary ">
          <div class="ml-auto sticky top-[150px] w-1/2 p-4 flex flex-col animation_div_left">
<!--            <img class="w-3/4 md:w-1/3 "  src="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" srcset="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" alt="Iron Man 1">-->
            <p class="text-xl lg:text-3xl font-bold  ">Estilo y sustentabilidad en cada pieza.</p>
            <p class=" text-md md:text-xl my-6">
              Convierte tu casa en un reflejo de tu estilo personal mientras contribuyes al medio ambiente. Nuestras mesas, sofás y más, elaborados con palets reciclados, combinan elegancia con conciencia ecológica. ¡Descubre cómo puedes marcar la diferencia con cada mueble!
            </p>
            <app-button3d class="w-full lg:w-1/2 "
                          [rounded]="'5px'" [title]="''"
                          [type]="'btn_secondary'"
                          [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                          [width]="'200px'" [raise]="4">
              <div class="w-full h-full gap-3  flex flex-nowrap justify-center items-center uppercase">
                <p>ver mas </p>
                <i class="fas fa-light fa-arrow-right  text-xs "></i>
              </div>
            </app-button3d>
          </div>
        </div>
      </li>
      <li class='slide-2'>
        <div class="max-w-6xl mx-auto relative h-[800px]  lg:px-10 pb-10 pt-0 md:pt-20 text-warmGray-200">
          <div class="sticky top-[150px] w-1/2 p-4 flex flex-col animation_div_right">
            <!--            <img class="w-3/4 md:w-1/3 " src="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png"-->
            <!--                 srcset="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png" alt="MSM2">-->
            <p class="text-xl lg:text-3xl font-bold">Innovación en diseño para tu hogar.</p>
            <p class=" text-md md:text-xl my-6">
              ¿Buscas muebles que se adapten a tu espacio y estilo de vida? Nuestras estructuras con palets son la solución perfecta. Desde soluciones de almacenamiento hasta muebles multifuncionales, cada pieza está diseñada para brindarte comodidad, practicidad y un toque de originalidad.
            </p>
            <app-button3d class="w-full lg:w-1/2 "
                          [rounded]="'5px'" [title]="''"
                          [type]="'btn_secondary'"
                          [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                          [width]="'200px'" [raise]="4">
              <div class="w-full h-full gap-3  flex flex-nowrap justify-center items-center uppercase">
                <p>ver mas </p>
              </div>
            </app-button3d>
          </div>
        </div>
      </li>
      <li class='slide-3'>
        <div class="max-w-6xl mx-auto relative h-[800px]  lg:px-10 pb-10 pt-0 md:pt-20 text-warmGray-200 ">
          <div class="ml-auto sticky top-[150px] w-1/2 p-4 pl-20 flex flex-col animation_div_left">
            <!--            <img class="w-3/4 md:w-1/3 "  src="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" srcset="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" alt="Iron Man 1">-->
            <p class="text-xl lg:text-3xl font-bold text-white">
              Creando ambientes únicos.
            </p>
            <p class=" text-md md:text-xl my-6">
              Deja volar tu creatividad y transforma tu hogar en un oasis de confort y estilo con nuestras estructuras
              de palets.
            </p>
            <app-button3d class="w-full lg:w-1/2 "
                          [rounded]="'5px'" [title]="''"
                          [type]="'btn_anchor'"
                          [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                          [width]="'200px'" [raise]="0">
              <div class="w-full h-full gap-3 text-warmGray-200 flex flex-nowrap justify-start items-center uppercase">
                <p>ver mas </p>
                <i class="fas fa-light fa-arrow-right  text-xs "></i>
              </div>
            </app-button3d>
          </div>
        </div>
      </li>
      <li class='slide-4'>
        <div class="max-w-6xl mx-auto relative h-[800px]  lg:px-10 pb-10 pt-0 md:pt-20 text-warmGray-200">
          <div class="sticky top-[150px] w-1/2 p-4 flex flex-col animation_div_right">
            <!--            <img class="w-3/4 md:w-1/3 " src="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png"-->
            <!--                 srcset="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png" alt="MSM2">-->
            <p class="text-xl lg:text-3xl font-bold">Innovación en diseño para tu hogar.</p>
            <p class=" text-md md:text-xl my-6">
              ¿Buscas muebles que se adapten a tu espacio y estilo de vida? Nuestras estructuras con palets son la solución perfecta. Desde soluciones de almacenamiento hasta muebles multifuncionales, cada pieza está diseñada para brindarte comodidad, practicidad y un toque de originalidad.
            </p>
            <app-button3d class="w-full lg:w-1/2 "
                          [rounded]="'5px'" [title]="''"
                          [type]="'btn_anchor'"
                          [font_size]="'12px'" [font_body_weight]="'900'" [height]="'30px'"
                          [width]="'200px'" [raise]="0">
              <div class="w-full h-full gap-3 text-warmGray-200 flex flex-nowrap justify-start items-center uppercase">
                <p>ver mas </p>
              </div>
            </app-button3d>
          </div>
        </div>
      </li>
      <li class='slide-5'>
        <div class="max-w-6xl mx-auto relative h-[800px]  lg:px-10 pb-10 pt-0 md:pt-20 text-white ">
          <div class="ml-auto sticky top-[150px] w-1/2 p-4 flex flex-col animation_div_left">
            <!--            <img class="w-3/4 md:w-1/3 "  src="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" srcset="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" alt="Iron Man 1">-->
            <p class="text-xl lg:text-3xl font-bold text-white">
              Creando ambientes únicos.
            </p>
            <p class=" text-md md:text-xl my-6">
              Deja volar tu creatividad y transforma tu hogar en un oasis de confort y estilo con nuestras estructuras
              de palets.
            </p>
            <app-button3d class="w-full lg:w-1/2 "
                          [rounded]="'5px'" [title]="''"
                          [bg_front_color]="'linear-gradient(rgb(50 50 50 / 20%),rgb(50 50 50 / 60%)), ' +
                     ' url(https://img.freepik.com/premium-photo/panorama-old-wood-texture-pallets-background-vintage-wooden-boards_35956-3288.jpg)' +
                      ' center/cover'"
                          font_size="22" [font_body_weight]="'900'" [height]="'55px'"
                          [bg_back_color]="'#181818'"
                          [border_style]="'solid #1e1e1e var(--border)'"
                          [width]="'100%'" [raise]="6">
              <div class="w-full h-full gap-3  flex flex-nowrap justify-center items-center uppercase">
                <p>ver mas </p>
                <i class="fas fa-light fa-arrow-right  text-xs "></i>
              </div>
            </app-button3d>
          </div>
        </div>
      </li>
    </ul>
    <div class="flex items-center justify-center">
<!--      <img class="z-40 slider_img_claw" src="./assets/img/slider/the_claw.png" alt="">-->
<!--      <div class="claw_main">-->
<!--        <div class="claw">-->
<!--          <div class="claw_wire"></div>-->
<!--          <div class="claw_body">-->
<!--            <img class="claw_support" src="./assets/img/slider/claw/claw_support.png" alt="">-->
<!--            <img class="claw_support_left" src="./assets/img/slider/claw/claw_left.png" alt="">-->
<!--            <img class="claw_support_center" src="./assets/img/slider/claw/claw_center.png" alt="">-->
<!--            <img class="claw_support_right" src="./assets/img/slider/claw/claw_right.png" alt="">-->
<!--          </div>-->
<!--        </div>-->
<!--        <img class="claw_toy" src="./assets/img/slider/claw/alien_claw.png" alt="">-->
<!--        <img class="claw_toys right-[250px]" src="./assets/img/slider/claw/aliens_claw.png" alt="">-->
<!--        <img class="claw_toys right-[235px]" src="./assets/img/slider/claw/aliens_claw.png" alt="">-->
<!--        <img class="claw_toys right-[240px]" src="./assets/img/slider/claw/aliens_claw.png" alt="">-->
<!--        <div class="claw_limit" ></div>-->
<!--      </div>-->
<!--      <img class="z-40 slider_img_claw_text animate__animated animate__shakeY animate__repeat-2 animate__delay-3s" src="./assets/img/slider/the_claw_text.png" alt="">-->

<!--      <svg class=" slider_waves w-full fill-bgPrim" preserveAspectRatio="none" width="1440" height="74" viewBox="0 0 1440 74"><path d="M456.464 0.0433865C277.158 -1.70575 0 50.0141 0 50.0141V74H1440V50.0141C1440 50.0141 1320.4 31.1925 1243.09 27.0276C1099.33 19.2816 1019.08 53.1981 875.138 50.0141C710.527 46.3727 621.108 1.64949 456.464 0.0433865Z"></path></svg>-->
      <div class=' z-40 slider-dot '>
        <label class='slide-0' for='input-slide-0'></label>
        <label class='slide-1' for='input-slide-1'></label>
        <label class='slide-2' for='input-slide-2'></label>
        <label class='slide-3' for='input-slide-3'></label>
        <label class='slide-4' for='input-slide-4'></label>
        <label class='slide-5' for='input-slide-5'></label>
      </div>
    </div>

  </div>

