<div class="container mx-auto px-4 h-full">

  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-blueGray-500 text-sm font-bold">Inicia sesión</h6>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form class="mt-4" [formGroup]="loginForm">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email
              </label>
              <input
                type="email" formControlName="email" [ngClass]="{ 'border-solid border-b-2 border-b-red-500': submited && f.email.errors }"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email"
              />
              <div *ngIf="submited && f.email.errors" >
                <div *ngIf="f.email.errors.required">Correo electronico requerido</div>
              </div>
            </div>
            <div class="relative w-full mb-3" >
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Contraseña
              </label>
              <input formControlName="password" [ngClass]="{ 'border-solid border-b-2 border-b-red-500': submited && f.password.errors }"
                     type="password"
                     class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                     placeholder="Password"
              />
              <div *ngIf="submited && f.password.errors">
                <div *ngIf="f.password.errors.required">Se requiere contraseña</div>
              </div>
            </div>

            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-semibold text-blueGray-600">
                  Recuérdame
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button (click)="logIn()"
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
              >
                Login
              </button>
              <button [disabled]="loading"
                      (click)="logIn()" class="bg-indigo-500 ..." disabled>
                <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24">
                  <!-- ... -->
                </svg>
                Processing...
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6 relative text-text-primary">
        <div class="w-1/2">
          <a href="javascript:void(0)" class="">
            <small>¿Se te olvidó tu contraseña?</small>
          </a>
        </div>
        <div class="w-1/2 text-right">

          <a  (click)="onClick.emit()" class="">
            <small>Crear una nueva cuenta</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
