asl-google-signin-button *{
  background-color: red;
  width: 100%!important;
}

.custom-google-signin-button div {
  background-color: green!important;
  border: 0!important;
  padding: 100px!important;
}

