<div class="min-h-screen">
  <!-- <app-slider class="opacity-75 hover:opacity-100 "></app-slider> -->
  <div class="">
    <div class="flex w-full rounded-lg">
      <img src="assets/img/banners/skate_banner.png" alt="" class="w-full ">
    </div>
  </div>
  <div [ngClass]="{ 'translate-x-0 ': filtersOpen, 'translate-x-full': !filtersOpen, 'opacity-100': filtersOpen, 'opacity-0': !filtersOpen}"
         class="top-0 right-0  h-full
       fixed z-30
       ease-in-out duration-300 w-3/4 ">
    <div class="relative ml-auto flex h-full w-full flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl scrollbar-thin scrollbar-thumb-blueGray-500 scrollbar-track-blueGray-200 h-32 overflow-y-scroll">
      <div class="flex items-center justify-between px-4">
        <!--            <h2 class="text-lg font-medium text-gray-900">Filters</h2>-->
        <button (click)="setFiltersOpen()" type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
          <span  class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x-mark -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Filters -->
      <form class="lg:hidden px-4 py-4">
        <h3 class="sr-only">Categories</h3>
        <ul role="list" class=" space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900">
          <li *ngFor="let category of categories2;">
            <a  [ngClass]="{'text-header-color': openProductType === category.id}" (click)="showProductType(category)">{{category.name}}</a>
            <ul *ngIf="openProductType === category.id" role="list" class="ml-2 text-sm font-medium text-gray-900">
              <li *ngFor="let subcategory of category.subcategories;" >
                <a (click)="showproductTypeCat(category, subcategory)" [ngClass]="{'text-header-color': openProductTypeCat === subcategory.id}">{{subcategory.name}}</a>
                <ul *ngIf="openProductTypeCat === subcategory.id" role="list" class="ml-2 text-sm font-medium text-gray-900">
                  <li *ngFor="let supercategory of subcategory.supercategories;" >
                    <a (click)="showproductTypeSubCat(category, subcategory,supercategory)" [ngClass]="{'text-header-color': openProductTypeSubCat === supercategory.id}">{{supercategory.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <div class="border-b border-gray-200 py-6" *ngFor="let attr of attributes_group | keyvalue">
          <h3 class="-my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button type="button" class="flex w-full items-center justify-between  py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
              <span class="font-medium text-gray-900">{{attr.key}}</span>
              <span class="ml-6 flex items-center" (click)="showFilter(attr)" >
                    <svg *ngIf="this.selectFilter != attr.key" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <svg *ngIf="this.selectFilter === attr.key" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
            </button>
          </h3>
          <div *ngFor="let value of attr.value" class="transform
              transition-all duration-150 ease-in-out origin-top overflow-hidden"
               [ngClass]="{ 'max-h-screen ': this.selectFilter === attr.key, 'max-h-0 ': this.selectFilter != attr.key}">
            <div class="space-y-4 pt-6">
              <div class="flex items-center" >
                <input (change)="onAttributeSelected(value)" id="filter-color-0" name="{{value.id}}" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-primary ring-0">
                <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{value.value}}</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="mx-auto w-full px-2 sm:px-6 pb-60 -mb-20 pt-10">

    <div class="bg-primary flex items-center p-1 rounded-md mb-6">
      <input (keyup)="searchProduct($event)"
             class="h-auto px-3 py-2 w-full  border-0  placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm
                  shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-500"/>
      <button type="button" class="p-2 text-gray-400" (click)="searchOpen=!searchOpen">
        <svg class="h-5 w-5 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="10" cy="10" r="7" />  <line x1="21" y1="21" x2="15" y2="15" /></svg>
      </button>
    </div>
    <div class="pb-5 w-full flex items-baseline justify-between border-b border-gray-200 h-auto flex-wrap">
      <div class="flex flex-wrap">
        <h1 *ngIf="titleFilterCat!=null" class="text-xl font-bold tracking-tight text-gray-900">{{titleFilterCat}}</h1>
        <h1 *ngIf="titleFilterSubCat!=null" class="text-md font-bold tracking-tight text-gray-900 mt-1 mx-2">></h1>
        <h1 *ngIf="titleFilterSubCat!=null" class="text-xl font-bold tracking-tight text-gray-900">  {{titleFilterSubCat}}</h1>
        <h1 *ngIf="titleFilterSuperCat!=null" class="text-md font-bold tracking-tight text-gray-900 mt-1 mx-2">></h1>
        <h1 *ngIf="titleFilterSuperCat!=null" class="text-xl font-bold tracking-tight text-gray-900" > {{titleFilterSuperCat}}</h1>
      </div>
      <div class="flex items-center ml-auto">
        <div class="relative inline-block text-left">
          <div class="flex justify-center">
            <div>
              <div class="dropdown relative">
                <select (change)="onSortSelected($event)" class="text-sm bg-transparent  font-semibold py-1 px-8 border  rounded-full  w-auto focus:border-0" >
                  <option *ngFor="let value of sortfilters"
                          [value]="value.id">
                    {{value.key}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!--<button type="button" (click)="filterProducts()" class="-m-2 ml-5 p-2 text-gray-400 hover:text-gray-500 sm:ml-7">
          <span class="sr-only">View grid</span>
          <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 002 4.25v2.5A2.25 2.25 0 004.25 9h2.5A2.25 2.25 0 009 6.75v-2.5A2.25 2.25 0 006.75 2h-2.5zm0 9A2.25 2.25 0 002 13.25v2.5A2.25 2.25 0 004.25 18h2.5A2.25 2.25 0 009 15.75v-2.5A2.25 2.25 0 006.75 11h-2.5zm9-9A2.25 2.25 0 0011 4.25v2.5A2.25 2.25 0 0013.25 9h2.5A2.25 2.25 0 0018 6.75v-2.5A2.25 2.25 0 0015.75 2h-2.5zm0 9A2.25 2.25 0 0011 13.25v2.5A2.25 2.25 0 0013.25 18h2.5A2.25 2.25 0 0018 15.75v-2.5A2.25 2.25 0 0015.75 11h-2.5z" clip-rule="evenodd" />
          </svg>
        </button>-->
        <button type="button" class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden" (click)="setFiltersOpen()">
          <span class="sr-only">Filters</span>
          <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z" clip-rule="evenodd" />
          </svg>
        </button>

      </div>
    </div>

    <section>
      <div class="p-2 pt-4 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <form class="hidden lg:block">
          <h3 class="sr-only">Categories</h3>
          <ul role="list" class=" space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900">
            <li *ngFor="let category of categories2;">
              <a  [ngClass]="{'text-header-color': openProductType === category.id}" (click)="showProductType(category)">{{category.name}}</a>
              <ul *ngIf="openProductType === category.id" role="list" class="ml-2 text-sm font-medium text-gray-900">
                <li *ngFor="let subcategory of category.subcategories;" >
                  <a (click)="showproductTypeCat(category, subcategory)" [ngClass]="{'text-header-color': openProductTypeCat === subcategory.id}">{{subcategory.name}}</a>
                  <ul *ngIf="openProductTypeCat === subcategory.id" role="list" class="ml-2 text-sm font-medium text-gray-900">
                    <li *ngFor="let supercategory of subcategory.supercategories;" >
                      <a (click)="showproductTypeSubCat(category, subcategory,supercategory)" [ngClass]="{'text-header-color': openProductTypeSubCat === supercategory.id}">{{supercategory.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

          <div class="border-b border-gray-200 py-6" *ngFor="let attr of attributes_group | keyvalue">
            <h3 class="-my-3 flow-root">
              <!-- Expand/collapse section button -->
              <button type="button" class="flex w-full items-center justify-between  py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
                <span class="font-medium text-gray-900">{{attr.key}}</span>
                <span class="ml-6 flex items-center" (click)="showFilter(attr)" >
                    <svg *ngIf="this.selectFilter != attr.key" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <svg *ngIf="this.selectFilter === attr.key" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
              </button>
            </h3>
            <div *ngFor="let value of attr.value" class="transform
              transition-all duration-150 ease-in-out origin-top overflow-hidden"
                 [ngClass]="{ 'max-h-screen ': this.selectFilter === attr.key, 'max-h-0 ': this.selectFilter != attr.key}">
              <div class="space-y-4 pt-6">
                <div class="flex items-center" >
                  <input (change)="onAttributeSelected(value)" id="filter-color-0" name="{{value.id}}" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-primary ring-0">
                  <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{value.value}}</label>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="lg:col-span-3">
          <!-- Replace with your content -->
          <div class="rounded-lg lg:h-full">
            <div class="flex items-center pr-2 pb-2 ">
              <div class="mx-2 bg-gray-200 hover:bg-gray-300 text-grey-darkest font-bold py-2 px-4 rounded inline-flex
                items-center border rounded-full" *ngFor="let attr of filters.searchFilters[5]?.attributes">
                <p class="text-sm">{{attr.value}}</p>
                <button (click)="onAttributeSelected(attr)">
                  <svg  class="ml-2 h-3 w-3 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
                </button>
              </div>
            </div>
            <div *ngIf="products?.length > 0" class="grid gap-2 sm:gap-8 grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
              <!-- Product Item -->
              <div *ngFor="let variation of products;"  class="overflow-hidden rounded-lg text-sm border border-1
                border-gray-200 hover:border-gray-400 transition-colors bg-white">
                <div (click)="detail(variation.product.id,variation.id)">
                  <div class="flex flex-wrap">
                    <div class="w-full h-auto bg-gray-300 h-96 overflow-hidden">
                      <img src="{{ imgUrl }}storage/images/{{ variation.img }}"
                           class="rounded-lg w-full hover:scale-105 hover:rotate-1 transition-transform w-full h-64 sm:h-80 object-cover" alt="Imagen 1">
                    </div>
                  </div>
                  <div class="p-4">
                    <h3 class="">
                      <a href="assets/img/products/1_1.jpg">
                        {{variation?.product?.name}}
                      </a>
                    </h3>
                    <h5 class="font-bold">{{variation?.price/100 | number:'1.2-2'}}€</h5>
                  </div>
                </div>
              </div>

              <!--/ Product Item -->
            </div>
            <div *ngIf="loading" class='flex items-center justify-center h-96'>
              <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
              <p class="ml-2"></p>
            </div>
          </div>
          <div *ngIf="product_pg" class="flex justify-center p-4">
            <nav aria-label="Page navigation example">
              <ul class="flex list-style-none">
                <li class="page-item" *ngFor="let pr of product_pg.links">
                  <a (click)="paginatedProducts(pr.label)" [ngClass]="{
              'bg-primary text-white': product_pg.current_page === pr.label,
              'bg-transparent text-gray-800': product_pg.current_page !== pr.label
              }"
                     class="page-link relative block py-1.5 px-3 rounded border-0
              outline-none transition-all
              duration-300 rounded  hover:text-gray-800 focus:shadow-none"
                  >{{pr.label}}</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /End replace -->
        </div>
      </div>
    </section>
  </div>
</div>




