<swiper-container  scrollbar="true"  direction="vertical" init="false" loop="false" pagination="true" pagination-clickable="true"   #mySwiper
 class="swiper-container mySwiper">
    <swiper-slide>
        <img class="h-full w-full" src="./assets/img/banners/banner_8.jpg" alt="">
          <div class="relative h-full ">
            <div class=" flex flex-col justify-center items-center h-full text-nowrap whitespace-nowrap">
                <div class="glitch" data-text="Raw Art ">Raw Art </div>
                <div class="glow">Raw Art </div>
                <p class="subtitle">IMPRACTICAL DEVELOPER</p>
          </div>
          </div>
        <div class="scanlines "></div>
    </swiper-slide>
    <swiper-slide class="slide-1">
        <img onload="this.classList.add('loaded')" loading="lazy" class=" fixed w-full h-[280px] md:h-[520px] " 
      src="./assets/img/banners/banner_6.jpeg" alt="">
      <div class="flex justify-center items-center  text-warmGray-50 h-full w-full">
        <div class="p-4 rounded sticky w-fit
        flex flex-col animation_div_right opacity-0 transition-all duration-500 ease-in-out ">
                    <p class="banco line-1 anim-typewriter  text-4xl lg:text-7xl font-black text_font_marvel mt-4">Gameplay Revealed</p>
                    <app-button3d  
                    [rounded]="'5px'" [title]="''"
                    [type]="'btn_anchor'"
                    [font_size]="'12px'" [font_body_weight]="'900'" [height]="'25px'"
                    [raise]="5" [width]="'100%'">
                      <div class="w-full h-full gap-3 text-warmGray-50 flex flex-nowrap justify-center items-center uppercase">
                      <p>Show all</p>
                      </div>
                    </app-button3d>
                    </div>
      </div>
    </swiper-slide>
    <swiper-slide>
        <img class="h-full w-full" src="./assets/img/banners/banner_8.jpg" alt="">
        <div class="relative h-full ">
          <div class=" flex flex-col justify-center items-center h-full text-nowrap whitespace-nowrap">
              <div class="glitch" data-text="Raw 2">Raw 2</div>
              <div class="glow">Raw 2</div>
              <p class="subtitle">IMPRACTICAL DEVELOPER</p>
        </div>
        </div>
      <div class="scanlines "></div>
    </swiper-slide>
    <swiper-slide>
        <img class="h-full w-full" src="./assets/img/banners/banner_8.jpg" alt="">
        <div class="relative h-full ">
          <div class=" flex flex-col justify-center items-center h-full text-nowrap whitespace-nowrap">
              <div class="glitch" data-text="Raw 3">Raw 3</div>
              <div class="glow">Raw 3</div>
              <p class="subtitle">IMPRACTICAL DEVELOPER</p>
        </div>
        </div>
      <div class="scanlines "></div>
    </swiper-slide>
  </swiper-container>
