<div class="grid grid-cols-12 gap-4 -mb-20 h-screen">
  <ul
    class="h-full bg-white shadow-xl col-span-2  flex list-none flex-col pl-0"
    role="tablist"
    data-te-nav-ref>
    <li (click)="toggleTabs(1)"  role="presentation" class="flex text-center hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate
          focus:border-transparent ">
      <a
        class="w-full block border-x-0 p-6  text-xs font-medium uppercase
          leading-tight text-neutral-500 "
        role="tab"
        aria-controls="tabs-home03"
        aria-selected="true">
        Pedidos
      </a>
      <div [ngClass]="{ 'border-primary translate-x-full opacity-100': openTab === 1,'translate-x-4 opacity-0': openTab !== 1}"
           class="border-transparent border-r-4 ease-in-out duration-500 transition-all"></div>    </li>
    <li (click)="toggleTabs(2)"  role="presentation" class="flex text-center hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate
          focus:border-transparent ">
      <a
        class="w-full block border-x-0 p-6  text-xs font-medium uppercase
          leading-tight text-neutral-500 "
        role="tab"
        aria-controls="tabs-home03"
        aria-selected="true">
      Datos personales</a>
      <div [ngClass]="{ 'border-primary translate-x-full opacity-100': openTab === 2,'translate-x-4 opacity-0': openTab !== 2}"
           class="border-transparent border-r-4 ease-in-out duration-500 transition-all"></div>
    </li>


    <li (click)="toggleTabs(3)"  role="presentation" class="flex text-center hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate
          focus:border-transparent ">
      <a
        [ngClass]="{ 'border-primary': openTab === 3}"
        class="w-full block border-x-0 p-6  text-xs font-medium uppercase
          leading-tight text-neutral-500 "
        role="tab"
        aria-controls="tabs-home03"
        aria-selected="true">
        Devoluciones</a>
      <div [ngClass]="{ 'border-primary translate-x-full opacity-100': openTab === 3,'translate-x-4 opacity-0': openTab !== 3}"
           class="border-transparent border-r-4 ease-in-out duration-500 transition-all"></div>
    </li>
  </ul>
  <div class="col-span-10 flex flex-col px-12 pt-6 pb-32" *ngIf="openTab===1">
    <div class="h-min relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg border-0" >
      <div class="rounded-t bg-white mb-0 px-6 py-6 border-b-2 border-gray-200">
        <div class="text-center flex justify-between">
          <h6 class="text-blueGray-700 text-xl font-bold">Historial de pedidos</h6>
        </div>
      </div>
      <div class="flex-auto pt-0">
        <div *ngFor="let order of orders" class="bg-white border-b-2 border-gray-200 p-10 w-full" [ngClass]="{'animate__animated animate__fadeIn animate__fadeIn--slow': openTab === 1}" >
          <div class="flex flex-col items-center" >
            <div class="w-full" >
              <div class="-my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button (click)="showOrderSelected(order)" type="button" class="flex w-full items-center justify-between  py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
                  <div class="flex flex-col items-start justify-start">
                    <p>Num pedido: {{order.id}}</p>
                    <p>Fecha: {{order.date}} </p>
                    <p>Total: {{ order.total/100 | number:'1.2-2' }}€</p>
                    <h3>Estado: {{order.status}}</h3>
                  </div>
                  <span class="ml-6 flex items-center"  >
                    <svg *ngIf="showOrder===order.id" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <svg *ngIf="showOrder!==order.id" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </div>
              <div class="pt-6" id="filter-section-0" *ngIf="showOrder===order.id">
                <div *ngFor="let detail of order.details;" class="w-full flex flex-col sm:flex-row items-center gap-4 py-3">
                  <a href="/src/product.html" class="w-36 h-32 flex items-center justify-center overflow-hidden">
                    <img class="object-cover" alt="" src="http://ctrl-api.test/storage/images/{{detail?.variation?.img}}">
                  </a>
                  <div class="flex-1 flex flex-col justify-between">
                    <div class="flex justify-between mb-3">
                      <h3>{{detail?.variation?.product.name}}</h3>
                      <span class="text-lg font-semibold">
                          <span>{{detail?.variation?.price}}€</span>
                        </span>
                    </div>
                    <div class="flex justify-between items-center">
                      <div class="flex items-center">
                        Qty: {{detail?.quantity}}
                      </div>
                      <div class="flex items-center">
                        Total: {{ detail?.sub_total/100 | number:'1.2-2'}}€
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="order_pg" class="flex justify-center p-4">
      <nav aria-label="Page navigation example">
        <ul class="flex list-style-none">
          <li class="page-item" *ngFor="let pr of order_pg.links">
            <a (click)="paginatedOrders(pr.label)" [ngClass]="{
              'bg-primary text-white': order_pg.current_page === pr.label,
              'bg-transparent text-gray-800': order_pg.current_page !== pr.label
              }"
               class="page-link relative block py-1.5 px-3 rounded border-0
              outline-none transition-all
              duration-300 rounded  hover:text-gray-800 focus:shadow-none"
            >{{pr.label}}</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
  <div class="col-span-10 flex px-12 pt-6 pb-32" *ngIf="openTab===2">
    <div class="h-min relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
      <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
          <h6 class="text-blueGray-700 text-xl font-bold">Datos personales</h6>
        </div>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form [formGroup]="form">
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            Informacion del usuario
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Nick</label>
                <input formControlName="nick" type="text"
                       [ngClass]="{ 'is-invalid': submitted && fc.nick.errors }"
                       class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
                <div *ngIf="submitted && fc.nick.errors" class="invalid-feedback">
                  <div *ngIf="fc.nick.errors.required">nick is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                  Email
                </label>
                <input  formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && fc.email.errors }"
                        type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  />
                <div *ngIf="submitted && fc.email.errors" class="invalid-feedback">
                  <div *ngIf="fc.email.errors.required">email is required</div>
                </div>
              </div>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />

          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            Informacion de contacto
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Nombre
                </label>
                <input formControlName="name"
                       [ngClass]="{ 'is-invalid': submitted && fc.name.errors }"
                       type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="lucky.jesse"
                />
                <div *ngIf="submitted && fc.name.errors" class="invalid-feedback">
                  <div *ngIf="fc.name.errors.required">name is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Apellidos
                </label>
                <input formControlName="surnames"
                       [ngClass]="{ 'is-invalid': submitted && fc.surnames.errors }"
                       type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Lucky"
                /><div *ngIf="submitted && fc.surnames.errors" class="invalid-feedback">
                  <div *ngIf="fc.surnames.errors.required">surnames is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  DNI/CIF/NIF
                </label>
                <input formControlName="dni"
                       [ngClass]="{ 'is-invalid': submitted && fc.dni.errors }"
                       type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Jesse"
                /><div *ngIf="submitted && fc.dni.errors" class="invalid-feedback">
                  <div *ngIf="fc.dni.errors.required">dni is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Móvil
                </label>
                <input formControlName="phone"
                       [ngClass]="{ 'is-invalid': submitted && fc.phone.errors }"
                       type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Jesse"
                /><div *ngIf="submitted && fc.phone.errors" class="invalid-feedback">
                  <div *ngIf="fc.phone.errors.required">phone is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Dirección de envío
                </label>
                <input formControlName="address"
                       [ngClass]="{ 'is-invalid': submitted && fc.address.errors }"
                       type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                /><div *ngIf="submitted && fc.address.errors" class="invalid-feedback">
                  <div *ngIf="fc.address.errors.required">address is required</div>
                </div>
                <input formControlName="address_detail"
                       [ngClass]="{ 'is-invalid': submitted && fc.address_detail.errors }"
                       type="text"
                  class="mt-4 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Piso,escalera,etc"
                /><div *ngIf="submitted && fc.address_detail.errors" class="invalid-feedback">
                  <div *ngIf="fc.address_detail.errors.required">address_detail is required</div>
                </div>
                <input formControlName="notes"
                       [ngClass]="{ 'is-invalid': submitted && fc.notes.errors }"
                       type="text"
                  class="mt-4 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Notas"
                /><div *ngIf="submitted && fc.notes.errors" class="invalid-feedback">
                  <div *ngIf="fc.notes.errors.required">notes is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  País
                </label>
                <input formControlName="country"
                       [ngClass]="{ 'is-invalid': submitted && fc.country.errors }"
                       type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="United States"
                /><div *ngIf="submitted && fc.country.errors" class="invalid-feedback">
                  <div *ngIf="fc.country.errors.required">country is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Província
                </label>
                <input formControlName="province"
                       [ngClass]="{ 'is-invalid': submitted && fc.province.errors }"
                       type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="New York"
                /><div *ngIf="submitted && fc.province.errors" class="invalid-feedback">
                  <div *ngIf="fc.province.errors.required">province is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Población
                </label>
                <input formControlName="city"
                       [ngClass]="{ 'is-invalid': submitted && fc.city.errors }"
                       type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Postal Code"
                /><div *ngIf="submitted && fc.city.errors" class="invalid-feedback">
                  <div *ngIf="fc.city.errors.required">city is required</div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Codigo postal
                </label>
                <input formControlName="zip"
                       [ngClass]="{ 'is-invalid': submitted && fc.zip.errors }"
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Postal Code"
                /><div *ngIf="submitted && fc.zip.errors" class="invalid-feedback">
                  <div *ngIf="fc.zip.errors.required">zip is required</div>
                </div>
              </div>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />

          <div class="flex flex-wrap justify-between mt-8">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3 flex flex-wrap justify-between">
                <button  class="self-end inline-flex justify-center rounded-full text-gray-700
           border border-gray-300 bg-white
           py-2 px-4 text-sm
          font-medium  shadow-sm
          hover:bg-gray-50 ">
                  Cerrar</button>
                <button (click)="udpate()" [disabled]="loading"  class="self-end inline-flex justify-center rounded-full
          border border-transparent
          bg-primary py-2 px-4 text-sm
          font-medium text-white shadow-sm
          hover:bg-secondary ">
                  <div *ngIf="loading"  class="mr-2 border-t-transparent border-solid animate-spin  rounded-full border-white border-2 h-4 w-4"></div>
                  Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-alert class="z-50 fixed" (showChange)="show=!show"  [show]="show" [text]="text" [color]="color"></app-alert>


