<div [ngClass]="{'theme-light': !isDarkEnable,
'theme-dark': isDarkEnable}"
     class="transition-colors duration-500  landing_page1 bg-bgPrim">
     <app-default-navbar
     [transparent]="false"
   ></app-default-navbar> 
    <div [ngClass]="{'theme-light': !isDarkEnable, 'theme-dark': isDarkEnable }"
       class="relative ">
    <!--<app-admin-navbar></app-admin-navbar>
    <app-header-stats></app-header-stats>
    <div class="px-4 md:px-10 mx-auto w-full -m-24">-->
    <div class="flex flex-col">
      <!-- Sidebar TODO change to componente -->
      <app-sidebar class="bg-bgPrim"></app-sidebar>

      <!-- Main -->
      <!-- mt-12       <div class="flex-grow py-16 bg-[conic-gradient(at_bottom_right,_var(&#45;&#45;tw-gradient-stops))] from-bgPrim via-bgTern to-bgPrim duration-500 transition-all ease-in-out"-->
      <div class="mt-12  flex-grow bg-bgPrim  duration-500 transition-all ease-in-out ">
        <router-outlet></router-outlet>
      </div>
      <app-footer
        class="w-full 
                        bg-bgPrim bottom-0
                        overflow-hidden duration-500 transition-all ease-in-out"></app-footer>
    </div>
  </div>
</div>
