<div [ngClass]="{'theme-light': isDarkEnable, 'theme-dark': !isDarkEnable}" class="transition-colors duration-1000 bg-primary">
  <app-default-navbar [isDarkEnable]="isDarkEnable" (onClick)='changeTheme($event)'></app-default-navbar>
  <!--TODO CREATE COMPONENT-->

  <div class="gallery">
    <div id="carouselExampleCaptions3" class="carousel slide relative  sm:h-350-px md:h-500-px lg:h-full" data-bs-ride="carousel">
      <div class="carousel-inner relative w-full overflow-hidden ">
        <div class="carousel-item active relative float-left w-full  sm:h-350-px md:h-500-px">
          <img
            src="assets/img/img_romero/at-the-dark-workshop-experienced-worker-in-protective-uniform-is-working-with-metal.jpg"
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center ">
            <h5 class="text-xl -mt-20">First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item relative float-left w-full  sm:h-350-px md:h-500-px">
          <img
            src="assets/img/img_romero/man-in-protective-mask-is-cutting-metal-and-sparks-are-flying-away.jpg"
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center ">
            <h5 class="text-xl -mt-20">Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item relative float-left w-full  sm:h-350-px md:h-500-px">
          <img
            src="assets/img/img_romero/pexels-korhan-erdol-2554128.jpg"
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center ">
            <h5 class="text-xl -mt-20">Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="carouselExampleCaptions4" class="carousel slide relative  sm:h-350-px md:h-500-px lg:h-full" data-bs-ride="carousel">
      <div class="carousel-inner relative w-full overflow-hidden ">
        <div class="carousel-item relative float-left w-full  sm:h-350-px md:h-500-px">
          <img
            src="assets/img/img_romero/worker-doing-gate-by-electric-steel-cutter-machine.jpg"
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center ">
            <h5 class="text-xl -mt-20">Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item active relative float-left w-full  sm:h-350-px md:h-500-px">
          <img
            src="assets/img/img_romero/man-in-special-suit-polishing-metal-with-angle-grinder.jpg"
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center ">
            <h5 class="text-xl -mt-20">First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>

      </div>
    </div>
  </div>



  <section class="block relative z-1 bg-blueGray-600">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only text-text-primary">Products</h2>
      <div class="grid grid-cols-1 gap-y-10 gap-x-6 grid-cols-4  xl:gap-x-8">
        <a href="#" class="group">
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
            <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
                 alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                 class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Earthen Bottle</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$48</p>
        </a>

        <a href="#" class="group">
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
            <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-02.jpg"
                 alt="Olive drab green insulated bottle with flared screw lid and flat top."
                 class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Nomad Tumbler</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
        </a>

        <a href="#" class="group">
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
            <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg"
                 alt="Person using a pen to cross a task off a productivity paper card."
                 class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Focus Paper Refill</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$89</p>
        </a>

        <a href="#" class="group">
          <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
            <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg"
                 alt="Hand holding black machined steel mechanical pencil with brass tip and top."
                 class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">Machined Mechanical Pencil</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
        </a>

        <!-- More products... -->
      </div>
    </div>

    <div class="container mx-auto">
      <div class="justify-center flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4 -mt-24">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center">Login Page</h5>
              <a [routerLink]="['/auth/login']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
                >
                  <img
                    alt="..."
                    class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/login.jpg"
                  />
                </div>
              </a>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center">Profile Page</h5>
              <a [routerLink]="['/profile']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
                >
                  <img
                    alt="..."
                    class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/profile.jpg"
                  />
                </div>
              </a>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center">Landing Page</h5>
              <a [routerLink]="['/landing']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
                >
                  <img
                    alt="..."
                    class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/landing.jpg"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-20 relative bg-blueGray-600 overflow-hidden">
    <div class="container mx-auto pb-64">
      <div class="flex flex-wrap justify-center">
        <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
          <div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
          >
            <i class="fas fa-code-branch text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
            Open Source
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-400"
          >
            Since
            <a
              href="https://tailwindcss.com/?ref=creativetim"
              class="text-blueGray-300"
              target="_blank"
            >
              Tailwind CSS
            </a>
            is an open source project we wanted to continue this movement too. You
            can give this version a try to feel the design and also test the
            quality of the code!
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-400"
          >
            Get it free on Github and please help us spread the news with a Star!
          </p>
          <a
            href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
            target="_blank"
            class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Github Star
          </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
          <i
            class="fab fa-github text-blueGray-700 text-55 absolute -top-150-px -right-100 left-auto opacity-80"
          ></i>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-16 bg-blueGray-200 relative pt-32">
    <div
      class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto">
      <div
        class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10"
      >
        <div class="w-full text-center lg:w-8/12">
          <p class="text-4xl text-center">
            <span role="img" aria-label="love"> 😍 </span>
          </p>
          <h3 class="font-semibold text-3xl">Do you love this Starter Kit?</h3>
          <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
            Cause if you do, it can be yours now. Hit the buttons below to
            navigate to get the Free version for your next project. Build a new
            web app or give an old project a new look!
          </p>
          <div class="sm:block flex flex-col mt-10">
            <a
              href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
              target="_blank"
              class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-2 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            >
              Get started
            </a>
            <a
              href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
              target="_blank"
              class="github-star sm:ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            >
              <i class="fab fa-github text-lg mr-1"></i>
              <span>Help With a Star</span>
            </a>
          </div>
          <div class="text-center mt-16"></div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
