<!--<div *ngIf="success" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">-->
<!--  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>-->
<!--  <div class="fixed inset-0 z-10 overflow-y-auto">-->
<!--    <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">-->
<!--      <div class="w-1/2 relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">-->
<!--        <div class="bg-white">-->
<!--          <div class="sm:flex sm:items-start">-->
<!--            <div class="mt-10 sm:mt-0 w-full">-->
<!--              <div class="xl:grid xl:grid-cols-3 xl:gap-6">-->

<!--                <div class="mt-5 xl:col-span-2 xl:mt-0">-->
<!--                  <div class="xl:col-span-1">-->
<!--                    <div class="p-4">-->
<!--                      <p class="text-lg font-medium leading-6 text-gray-900">Pedido realizado correctamente!</p>-->
<!--                      <p class="text-xs font-medium leading-6 text-gray-900">Gracias por confiar en nosotros</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="p-4 flex justify-between items-center space-x-2">-->
<!--          <button  (click)="goToShop()" class="self-end inline-flex justify-center rounded-full text-gray-700-->
<!--           border border-gray-300 bg-white-->
<!--           py-2 px-4 text-sm-->
<!--          font-medium  shadow-sm-->
<!--          hover:bg-gray-50 ">-->
<!--            Cerrar</button>-->

<!--          <button (click)="goToShop()" class="self-end inline-flex justify-center rounded-full-->
<!--          border border-transparent-->
<!--          bg-orange-600 py-2 px-4 text-sm-->
<!--          font-medium text-white shadow-sm-->
<!--          hover:bg-orange-700 ">-->
<!--            Continuar</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div *ngIf=" loading" class='flex items-center justify-center h-96'>
  <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
  <p class="ml-2"></p>
</div>
<section *ngIf="step === 1" >
  <div
    [ngClass]="{'animate__animated animate__fadeIn animate__fadeIn--slow': step === 1}"
    class="p-10 container lg:w-2/3 xl:w-2/3 mx-auto">
    <h1 class="text-3xl font-bold mb-6">Items in your cart</h1>
    <div x-data="" class="bg-white p-4 rounded-lg shadow">
      <img *ngIf="groupedProducts.length===0" src="./assets/img/empty-cart.png" alt="" class="w-full rounded-lg hover:scale-105 hover:rotate-1 transition-transform">

      <div *ngIf="groupedProducts.length>0">
          <div *ngFor="let product of this.groupedProducts;" class="w-full flex flex-col sm:flex-row items-center gap-4 py-2 cart-product">
          <a href="/src/product.html" class="w-36 h-32 flex items-center justify-center overflow-hidden">
            <img *ngIf="product.variation===undefined" class="object-cover" alt="" src="{{product?.product.imgs[0]?.path}}">
            <img *ngIf="product.variation!==undefined" class="object-cover" alt="" src="{{product?.variation.imgs[0]?.path}}">
          </a>
          <div class="flex-1 flex flex-col justify-between">
            <div class="flex justify-between mb-3">
              <h3 >{{product?.product?.name}}</h3>
              <svg id="remove-{{product.id}}" (click)="removeProduct(product)"  class="h-5 w-5 text-red-400"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"
                   stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
              </svg>
            </div>
            <div class="flex justify-between items-center">
              <p>{{product.price/100 | number:'1.2-2'}}€</p>
              <div class="flex items-center">
                Qty:
                <input min="1" *ngIf="product.variation===undefined"  (change)="selectQuantityProduct($event, product.product)" value="{{product.count}}" type="number" class="ml-3 py-1 border-gray-200 focus:border-purple-600 focus:ring-purple-600 w-16">
                <input min="1" *ngIf="product.variation!==undefined"  (change)="selectQuantityProduct($event, product.variation)" value="{{product.count}}" type="number" class="ml-3 py-1 border-gray-200 focus:border-purple-600 focus:ring-purple-600 w-16">
              </div>
              <span class="text-lg font-semibold">
                          <span>{{product.total/100 | number:'1.2-2'}}€</span>
                        </span>
            </div>
          </div>
        </div>
      </div>
      <div class="border-t border-gray-300 pt-4" *ngIf="groupedProducts.length>0">
        <div class="flex justify-between">
          <span class="font-semibold">Subtotal</span>
          <span class="text-xl" id="totalPrice_step1">{{cart.total/100 | number:'1.2-2'}}€</span>
        </div>
        <p class="text-gray-500 mb-6">
          Shipping and taxes calculated at checkout.
        </p>
        <div class=" flex items-end justify-end">
          <app-button3d  (click)="goToNextStep()" class="w-1/4 flex justify-end items-end "
                        [rounded]="'5px'" [title]="''"
                        [type]="'btn_primary'"
                        [font_size]="'12px'" [font_body_weight]="'900'" [height]="'35px'"
                        [raise]="2" [width]="'100%'">
            <div class="w-full h-full gap-3 text-warmGray-50 flex flex-nowrap justify-center items-center uppercase">
              <p>Continue</p>
            </div>
          </app-button3d>
        </div>

      </div>
    </div>
  </div>
</section>
<section *ngIf="step === 2">
  <!--<div
    [ngClass]="{'animate__animated animate__fadeIn animate__fadeIn--slow': step === 2}"
    class="p-10 container lg:w-2/3 xl:w-2/3 mx-auto">
    <h1 class="text-3xl font-bold mb-6">Datos personales</h1>
    <div x-data="" class="bg-white p-4 rounded-lg shadow">
        <div class="my-auto ml-5 h-full flex-col space-y-12 text-left text-neutral-700">
          <form [formGroup]="formPersonalData" id="formPersonalData">
          <div class="flex flex-col space-y-4">
            <div class="flex flex-row space-x-2">
              <div class="w-1/2">
                <label for="inputName" class="block text-sm font-medium text-gray-700">Nombre</label>
                <input id="inputName" [ngClass]="{ 'is-invalid': submitted && fpd.name.errors }" formControlName="name" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && fpd.name.errors" class="invalid-feedback">
                  <div *ngIf="fpd.name.errors.required">name is required</div>
                </div>
              </div>
              <div class="w-1/2">
                <label for="inputSurnames" class="block text-sm font-medium text-gray-700">Apellidos</label>
                <input id="inputSurnames" [ngClass]="{ 'is-invalid': submitted && fpd.surnames.errors }" formControlName="surnames" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && fpd.surnames.errors" class="invalid-feedback">
                  <div *ngIf="fpd.surnames.errors.required">surnames is required</div>
                </div>
              </div>
            </div>
            <div class="flex flex-row space-x-2">
              <div class="w-1/2">
                <label for="inputDni" class="block text-sm font-medium text-gray-700">DNI/CIF/NIF</label>
                <input id="inputDni" [ngClass]="{ 'is-invalid': submitted && fpd.dni.errors }" formControlName="dni" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && fpd.dni.errors" class="invalid-feedback">
                  <div *ngIf="fpd.dni.errors.required">dni is required</div>
                </div>
              </div>
              <div class="w-1/2">
                <label for="inputPhone" class="block text-sm font-medium text-gray-700">Móvil</label>
                <input id="inputPhone" [ngClass]="{ 'is-invalid': submitted && fpd.dni.errors }" formControlName="phone" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && fpd.phone.errors" class="invalid-feedback">
                  <div *ngIf="fpd.phone.errors.required">phone is required</div>
                </div>
              </div>
            </div>
            <div class="">
              <label for="inputAddress" class="block text-sm font-medium text-gray-700">Dirección de envío</label>
              <app-google-places></app-google-places>
              <input id="inputAddress" [ngClass]="{ 'is-invalid': submitted && fpd.address.errors }" formControlName="address" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
              placeholder="Dirección">
              <div *ngIf="submitted && fpd.address.errors" class="invalid-feedback">
                <div *ngIf="fpd.address.errors.required">address is required</div>
              </div>
              <input value="Carre illa de genova n8" [ngClass]="{ 'is-invalid': submitted && fpd.address_detail.errors }" formControlName="address_detail" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
              placeholder="Piso, escalera, puerta, etc.">
              <div *ngIf="submitted && fpd.address_detail.errors" class="invalid-feedback">
                <div *ngIf="fpd.address_detail.errors.required">address_detail is required</div>
              </div>
              <input [ngClass]="{ 'is-invalid': submitted && fpd.notes.errors }" formControlName="notes" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
              placeholder="Escribe aquí tus observaciones para la agencia...">
              <div *ngIf="submitted && fpd.notes.errors" class="invalid-feedback">
                <div *ngIf="fpd.notes.errors.required">notes is required</div>
              </div>
            </div>
            <div class="flex flex-row space-x-2">
              <div class="w-1/2">
                <label for="inputCountry" class="block text-sm font-medium text-gray-700">País</label>
                <select id="inputCountry" formControlName="country"  (change)="selectCountry($event)" [ngClass]="{ 'is-invalid': submitted && fpd.country.errors }"
                        autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option [value]="null">Selecciona un país</option>
                  <option *ngFor="let value of countries"
                          [value]="value.id">
                    {{value.name}}
                  </option>
                </select>
                <div *ngIf="submitted && fpd.country.errors" class="invalid-feedback">
                  <div *ngIf="fpd.country.errors.required">country is required</div>
                </div>
              </div>
              <div class="w-1/2">
                <label for="inputProvince" class="block text-sm font-medium text-gray-700">Provincia</label>
                <select id="inputProvince" formControlName="province"  (change)="selectProvince($event)" [ngClass]="{ 'is-invalid': submitted && fpd.province.errors }"
                        autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option [value]="null">Selecciona una provincia</option>
                  <option *ngFor="let value of provinces"
                          [value]="value.id">
                    {{value.name}}
                  </option>
                </select>
                <div *ngIf="submitted && fpd.province.errors" class="invalid-feedback">
                  <div *ngIf="fpd.province.errors.required">province is required</div>
                </div>
              </div>
            </div>
            <div class="flex flex-row space-x-2">
              <div class="w-1/2">
                <label for="inputPopulation" class="block text-sm font-medium text-gray-700">Población</label>
                <input id="inputPopulation" [ngClass]="{ 'is-invalid': submitted && fpd.postal_code.errors }" formControlName="population" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && fpd.population.errors" class="invalid-feedback">
                  <div *ngIf="fpd.population.errors.required">population is required</div>
                </div>
              </div>
              <div class="w-1/2">
                <label for="inputPostalCode" class="block text-sm font-medium text-gray-700">Código postal</label>
                <input id="inputPostalCode" [ngClass]="{ 'is-invalid': submitted && fpd.postal_code.errors }" formControlName="postal_code" type="text" name="first-name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                <div *ngIf="submitted && fpd.postal_code.errors" class="invalid-feedback">
                  <div *ngIf="fpd.postal_code.errors.required">postal code is required</div>
                </div>
              </div>

            </div>
          </div>
          </form>
        </div>
      <div class="pt-4">
        <button id="step-2" (click)="goStep(3)" type="submit" class="
        text-white bg-text-primary
        hover:border-2 hover:border-primary
        hover:text-primary hover:bg-transparent
        rounded-md w-full py-3 text-lg">
          Continuar
        </button>
      </div>
    </div>
  </div>-->
</section>

<section >
  <div
    [ngClass]="{'animate__animated animate__fadeIn animate__fadeIn--slow block ': step === 3,'hidden': step !== 3}"
    class="p-10 container lg:w-2/3 xl:w-2/3 mx-auto">
    <h1 class="text-3xl font-bold mb-6">Opciones de entrega</h1>
    <div x-data="" class="bg-white p-4 rounded-lg shadow">
      <div class="my-auto ml-5 h-full flex-col space-y-12 text-left text-neutral-700">
        <div class="flex flex-col space-y-4">
          <div class="flex flex-row space-x-2">
            <div class="w-full" *ngIf="carriers" >
              <label for="inputCountry" class="block text-sm font-medium text-gray-700">Selecciona una opcion</label>
              <!--Enable shipypro-->
              <!--<div *ngFor="let value of rates" class="mt-4">
                <input (change)="selectRate(value)" name="rate" value="{{value.carrier_id}}" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label class="ml-3 text-sm text-gray-600 mt-4">{{value.carrier}} {{value.detailed_pricing[0].price/100 | number:'1.2-2'}}€</label>
                <label class="ml-3 text-sm text-gray-600 mt-4">Fecha de entrega : {{value.delivery_days}} dias</label>
              </div>-->
              <div *ngFor="let value of carriers" class="mt-4" id="delivery_options">
                <input (change)="selectRate(value)" name="rate" value="{{value.carrier_id}}" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label class="ml-3 text-sm text-gray-600 mt-4">{{value.carrier}} {{value.rate/100 | number:'1.2-2'}}€</label>
                <label class="ml-3 text-sm text-gray-600 mt-4">Entrega : {{value.delivery_days}} dias</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-4">
        <button (click)="goStep(4)" type="submit" class="
        text-white bg-text-primary
        hover:border-2 hover:border-primary
        hover:text-primary hover:bg-transparent
        rounded-md w-full py-3 text-lg">
          Continuar
        </button>
      </div>
    </div>
  </div>
</section>
<section> <!-- no use  *ngIf="step === 3" for get cart.element else cart.element no exist--->
  <div
    [ngClass]="{'animate__animated animate__fadeIn animate__fadeIn--slow block ': step === 4,'hidden': step !== 4}"
    class="p-10 container lg:w-2/3 xl:w-2/3 mx-auto hidden">
    <h1 class="text-3xl font-bold mb-6">Método de pago</h1>
    <div x-data="" class="bg-white p-4 rounded-lg shadow">
      <form novalidate [formGroup]="stripeTest" id="payment_metod">
        <div class="flex flex-col space-y-6">
          <label for="inputName" class="block text-sm font-medium text-gray-700">Titular</label>
          <input id="inputName" [ngClass]="{ 'is-invalid': submitted && fc.name.errors }" formControlName="name" type="text" name="first-name"
                 class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                 placeholder="Nombre y apellidos" >
          <div *ngIf="submitted && fc.name.errors" class="invalid-feedback">
            <div *ngIf="fc.name.errors.required">name is required</div>
          </div>
          <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions" id="stripe_card">
          </ngx-stripe-card>
          <button id="comfirm_payment" (click)="goStep(5)" class="self-end inline-flex justify-center rounded-full
          border border-transparent
          bg-orange-600 py-2 px-4 text-sm
          font-medium text-white shadow-sm
          hover:bg-orange-700 focus:outline-none ">
            Acceptar
          </button>
        </div>

      </form>
    </div>
  </div>
</section>
<section *ngIf="step === 5 " id="resum"> <!-- && !showPaypalButtons --->

  <div class="flex flex-wrap justify-between ">
    <div *ngIf=" !loading"
         [ngClass]="{'animate__animated animate__fadeIn animate__fadeIn--slow': step === 5}"
         class="p-10 w-auto mx-auto grid grid-cols-12 gap-6">
      <h1 class="text-3xl font-bold col-span-12">Resumen</h1>
      <div x-data="" class="bg-white p-4 rounded-lg shadow col-span-8">
        <div>
          <div *ngFor="let product of this.groupedProducts;" class="w-full flex flex-col sm:flex-row items-center gap-4 py-2">
            <a href="/src/product.html" class="w-36 h-32 flex items-center justify-center overflow-hidden">
              <img class="object-cover" alt="" src="{{ imgUrl }}storage/images/{{product.img}}">
            </a>
            <div class="flex-1 flex flex-col justify-between">
              <div class="flex justify-between mb-3">
                <h3 >{{product.product.name}}</h3>
                <button (click)="removeProduct(product)" class="h-5 w-5 text-gray-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"
                        stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" /></button>
              </div>
              <div class="flex justify-between items-center">
                <p>{{product.price/100 | number:'1.2-2'}}€</p>
                <div class="flex items-center">
                  <p>Qty:&#160;{{product.count}}</p>

                </div>
                <span class="text-lg font-semibold">
                          <span>{{product.total/100 | number:'1.2-2'}}€</span>
                        </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div x-data="" class="h-min bg-white p-4 rounded-lg shadow col-span-4 gap-6">
        <div class="flex justify-start py-4 ">
          <h1 class="mr-16 text-md font-bold">Resumen</h1>
        </div>
        <div class="flex justify-between py-4 ">
          <p class="mr-16 text-sm">Subtotal artículos</p>
          <p class="text-sm font-bold" >{{totalPrice/100 | number:'1.2-2'}}€</p>
        </div>
        <div class="flex justify-between py-4 ">
          <p class="mr-16 text-sm ">Envío estimado</p>
          <p class="text-sm font-bold" >{{carrier.rate/100 | number:'1.2-2'}}€</p>
        </div>
        <!-- <div class="flex justify-between py-4 ">
          <p class="mr-16 text-sm">Abono de portes</p>
          <p class="text-sm font-bold text-green-400" >-5,00€</p>
        </div>-->
        <div class="border-t border-gray-300 pt-4"></div>
        <div class="flex justify-between py-4 ">
          <p class="mr-16 text-sm">Total (Impuestos incluidos)</p>
          <p class="text-sm font-bold" >{{cart.total/100 | number:'1.2-2'}}€</p>
        </div>
        <div class="pt-4">
          <!-- <button (click)="createOrder()" type="submit" class="-->
          <!-- <button *ngIf="!showPaypalButtons" (click)="pay()" type="submit" class="-->
          <button [disabled]="loading" (click)="paymentIntent()" type="submit" class="
        text-white bg-text-primary
        hover:border-2 hover:border-primary
        hover:text-primary hover:bg-transparent
        rounded-md w-full py-3 text-lg">
            <div *ngIf="loading"  class="mr-2 border-t-transparent border-solid animate-spin  rounded-full border-white border-2 h-4 w-4"></div>
            Pagar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section *ngIf="step === 5 && showPaypalButtons">
  <div *ngIf=" loading" class='flex items-center justify-center h-96'>
    <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
    <p class="ml-2"></p>
  </div>
  <div *ngIf=" !loading"
       [ngClass]="{'animate__animated animate__fadeIn animate__fadeIn--slow': step === 5}"
       class="p-10 container lg:w-2/3 xl:w-2/3 mx-auto">
    <ngx-paypal
      *ngIf="showPaypalButtons" [config]="payPalConfig">
    </ngx-paypal>
    <button *ngIf="showPaypalButtons" (click)="back()">Volver atras</button>
  </div>
</section>-->
<app-alert (showChange)="show=!show" class="z-50 fixed" [autocloseTime]="autocloseTime" [show]="show" [text]="text" [color]="color"></app-alert>

