<section class="">
  <app-slider-blog></app-slider-blog>
</section>
<main class="relative bg-bgPrim  z-40">
  <div class=" mx-auto py-20  ">
    <!--    <section class="py-10  flex  w-full">-->
    <!--      <app-breadcrumbs></app-breadcrumbs>-->
    <!--    </section>-->
    <section class="flex  w-full justify-center items-center gap-10 p-4 md:p-10 ">
      <div class="flex flex-col gap-10 justify-center items-center  max-w-4xl text-center">
        <p class="  text-textPrimary text-5xl font-extralight">
          ¡Bienvenidos a Paletudo!</p>
        <p class="  text-2xl font-normal text-textSecondary">
          En Paletudo, nos dedicamos a crear muebles y estructuras únicas utilizando
          palets reciclados. Nuestra pasión por el diseño innovador
          y la sostenibilidad nos impulsa a ofrecer soluciones creativas para transformar espacios y hogares.
        </p>
      </div>

    </section>
    <section class="flex flex-col p-6 md:p-16 justify-center items-center text-center gap-10 bg-bgSeco">
      <div class="grid grid-cols-1 md:grid-cols-5 gap-4 text-textPrimary text-xl font-normal uppercase">
        <div>
          <img class="h-auto max-w-full "
               src="https://suenoszzz.com/img/cms/categorias_home/03_CATEGORIA_COMPLEMENTOS.jpg">
          <p class="mt-6">Chaiselong</p>
        </div>
        <div>
          <img class="h-auto max-w-full "
               src="https://suenoszzz.com/img/cms/categorias_home/02_CATEGORIA_BUTACAS.jpg">
          <p class="mt-6">Cama de Palets</p>
        </div>
        <div>
          <img class="h-auto max-w-full "
               src="https://suenoszzz.com/img/cms/categorias_home/03_CATEGORIA_COMPLEMENTOS.jpg">
          <p class="mt-6">Estanteria palet</p>
        </div>
        <div>
          <img class="h-auto max-w-full "
               src="https://suenoszzz.com/img/cms/categorias_home/04_CATEGORIA_DESCANSO.jpg">
          <p class="mt-6">Mesa palet</p>
        </div>
        <div>
          <img class="h-auto max-w-full "
               src="https://suenoszzz.com/img/cms/categorias_home/06_CATEGORIA_JARDIN.jpg">
          <p class="mt-6">sofa palet</p>
        </div>
      </div>
    </section>

    <section class=" flex flex-col mx-auto justify-center items-center gap-10 py-24 ">
      <p class="  text-textPrimary text-5xl font-extralight ">
        Nuestra Misión
      </p>
      <div class="max-w-6xl  flex  gap-10 flex-col lg:flex-row">
        <div class="on_view transition-all duration-300 ease-in-out flex-1 flex  items-center justify-center">
<!--          <video class=" video_capsule asset_height  " autoplay="" loop="" title="Vídeo que muestra a un cliente de Paletudo, " muted="" playsinline=""><source src="https://a.slack-edge.com/1b4e2a3/marketing/img/homepage/true-prospects/customer-showcase/Vodafone_08.mp4" type="video/mp4"></video>-->
          <img _ngcontent-kuk-c130="" src="./assets/img/logo/image_yellow.png" class="w-40">
        </div>
        <div class="on_view transition-all duration-300 ease-in-out text-center md:text-left flex-1 flex  p-4 sm:p-10  flex-col gap-4">
          <p class="text-md font-normal  text-textSecondary">
            Combinamos creatividad, sostenibilidad y artesanía para crear muebles únicos y de alta calidad utilizando palets reciclados. Nuestro proceso incluye:

          </p>
          <p class="text-md font-normal  text-textSecondary">
            Diseño Creativo: Nuestro equipo experto trabaja en la conceptualización y prototipado de diseños originales que fusionan forma y función.


            Materiales Sostenibles: Utilizamos palets reciclados y otros materiales eco-amigables para reducir el impacto ambiental de nuestra producción.

            Artesanía de Calidad: Cada pieza se fabrica con atención al detalle y pasa por rigurosas pruebas de calidad para garantizar durabilidad y belleza duradera.
          </p>
          <p class="text-md font-normal  text-textSecondary">
            En paletudo, nuestro compromiso con la excelencia y la sostenibilidad impulsa cada aspecto de nuestro trabajo, desde la creación del diseño hasta la entrega del producto final.

          </p>


          <a class="text-primary">Más información</a>

        </div>
      </div>
    </section>

    <section class=" flex flex-col mx-auto justify-center items-center gap-10 pt-24 ">
      <p class="  text-textPrimary text-5xl font-extralight text-center">
        Nuestros productos estrella
      </p>
    </section>
    <section class=" flex flex-col mx-auto justify-center items-center text-center gap-10 pt-24">

      <div class="flex flex-col max-w-6xl gap-5">
        <div class="my-20 on_view opacity-0 transition-all duration-300 ease-in-out flex pb-0 gap-10 flex-col lg:flex-row w-full ">
          <div class="flex w-full xs:w-3/6 p-5 pt-0 lg:pt-10 flex-col justify-center items-center ">
            <img  class="w-auto" src="./assets/img/sofal.png" >
          </div>
          <div class="flex w-full xs:w-3/6  p-4 md:p-10 pt-0 lg:pt-10 flex-col ">
            <p class="text-textPrimary text-3xl font-md">
              ¡Descubre nuestro sofá en forma de "L"</p>
            <p class="my-4 text-textPrimary text-lg font-normal mt-10">
              ¡Descubre nuestro sofá en forma de "L" hecho con palets reciclados en Paletudo.com!
              Con un acabado profesional de primera calidad, estos sofás son robustos, cómodos e ideales tanto para interior como para exterior.
            </p>
<!--            <p class="my-4 text-textPrimary text-lg font-normal ">-->
<!--              Además, ofrecemos una amplia variedad de acabados y colores para que puedas personalizarlo según tus-->
<!--              gustos y necesidades. ¡Hazlo tuyo y dale un toque único a tu espacio con nuestro sofá 100% personalizable!-->
<!--            </p>-->
            <a class="text-primary">Más información</a>
          </div>
        </div>
        <div class="my-20 on_view transition-all duration-300 ease-in-out  flex pb-0  gap-10 flex-col-reverse lg:flex-row  w-full  ">
          <div class=" w-full xs:w-3/6 flex p-4 md:p-10 pt-0 lg:pt-10 flex-col ">
            <p class="text-textPrimary text-3xl font-md  "> Sofá Palet de Una Plaza</p>
            <p class="my-4 text-textPrimary text-lg font-normal mt-10">
              Este sofá palet de una plaza combina funcionalidad, estilo y comodidad en un diseño único y versátil.
              Fabricado con madera reciclada de alta calidad, cada detalle ha sido cuidadosamente elaborado para brindar
              un toqu e rústico y moderno a cualquier espacio.
            </p>
            <a class="text-primary">Más información</a>
          </div>
          <div class="w-full xs:w-3/6 flex p-10 pt-0 lg:pt-10 flex-col justify-center items-center ">
            <img  class="w-auto" src="./assets/img/SOFAPALET.png" >
            <!--            <video class="hidden sm:flex" data-js-id="flexibility" title="Un usuario está iniciando una junta y grabando un clip de vídeo en la aplicación de Paletudo" role="img" loop="" muted="" playsinline=""><source src="https://a.slack-edge.com/445abcc/marketing/img/homepage/e2e-prospects/animations/webm/flexibility.es-ES.webm" type="video/webm"><source src="https://a.slack-edge.com/445abcc/marketing/img/homepage/e2e-prospects/animations/mp4/flexibility.es-ES.mp4" type="video/mp4"></video>-->
          </div>
        </div>
        <div class="my-20 on_view opacity-0 transition-all duration-300 ease-in-out flex pb-0 gap-10 flex-col lg:flex-row w-full ">
          <div class="w-full xs:w-3/6 flex p-10 pt-0 lg:pt-10 flex-col justify-center items-center ">
            <img  class="w-auto" src="./assets/img/CAMAPALET.png" >
            <!--            <video class="hidden sm:flex"  data-js-id="speed" title="Cómo utilizar la integración de Workday para archivar un informe de gastos en la aplicación de Paletudo de manera más rápida" role="img" loop="" muted="" playsinline=""><source src="https://a.slack-edge.com/445abcc/marketing/img/homepage/e2e-prospects/animations/webm/speed.es-ES.webm" type="video/webm"><source src="https://a.slack-edge.com/445abcc/marketing/img/homepage/e2e-prospects/animations/mp4/speed.es-ES.mp4" type="video/mp4"></video>-->
            <!--          -->
          </div>
          <div class="w-full xs:w-3/6 flex  p-4 md:p-10 pt-0 lg:pt-10 flex-col ">
            <p class="text-textPrimary text-3xl font-md  ">Cama de Palets</p>
            <p class="my-4 text-textPrimary text-lg font-normal mt-10">
              Esta cama de palets es una pieza excepcional que fusiona el encanto rústico con la elegancia moderna,
              ofreciendo un oasis de confort y estilo en cualquier dormitorio. Fabricada con madera reciclada de alta calidad, cada detalle de
              esta cama ha sido cuidadosamente diseñado para proporcionar una experiencia de descanso única y duradera.
            </p>
            <a class="text-primary">Más información</a>

          </div>
        </div>
        <div class="my-20 on_view transition-all duration-300 ease-in-out  flex pb-0  gap-10 flex-col-reverse lg:flex-row  w-full  ">
          <div class=" w-full xs:w-3/6 flex  p-4 md:p-10 pt-0 lg:pt-10 flex-col ">
            <p class="text-textPrimary text-3xl font-md  "> Estantería de Palets</p>
            <p class="my-4 text-textPrimary text-lg font-normal mt-10">
              Esta estantería de palets es una obra maestra de funcionalidad y estilo, diseñada
              para ofrecer una solución de almacenamiento única y ecoamigable en cualquier hogar u oficina.
            </p>
            <p class="my-4 text-textPrimary text-lg font-normal mt-10">
              Construida con madera reciclada de alta calidad, cada detalle de esta estantería ha sido
              cuidadosamente elaborado para combinar la robustez con la estética rústica.
            </p>
            <a class="text-primary">Más información</a>
          </div>
          <div class="w-full xs:w-3/6 flex p-10 pt-0 lg:pt-10 flex-col justify-center items-center ">
            <img  class="w-auto" src="./assets/img/ESTANETERIAPALET.png" >
            <!--            <video class="hidden sm:flex" data-js-id="flexibility" title="Un usuario está iniciando una junta y grabando un clip de vídeo en la aplicación de Paletudo" role="img" loop="" muted="" playsinline=""><source src="https://a.slack-edge.com/445abcc/marketing/img/homepage/e2e-prospects/animations/webm/flexibility.es-ES.webm" type="video/webm"><source src="https://a.slack-edge.com/445abcc/marketing/img/homepage/e2e-prospects/animations/mp4/flexibility.es-ES.mp4" type="video/mp4"></video>-->
          </div>
        </div>
      </div>
    </section>
    <section class="flex flex-col p-5 py-16 justify-center items-center text-center gap-10  transition-all duration-300 ease-in-out   ">
      <div class="text-5xl text-textPrimary font-extralight"><p>Equipos grandes y pequeños</p>  <p>confían en Paletudo</p></div>
      <div class="text-textPrimary text-xl font-normal"><p>Paletudo se adapta de forma segura para garantizar la colaboración</p>  <p>en las empresas más importantes del mundo.</p></div>
      <div class="w-full md:w-auto flex gap-4 w-2/3">
        <button class="w-1/2 bg-primary  rounded-md text-white p-3 font-semibold">Conoce Paletudo para empresas</button>
        <button class="w-1/2  rounded-md text-primary p-3 outline-primary outline font-semibold">Hablar con el equipo de ventas</button>
      </div>
      <!--      <div class="flex flex-wrap items-center p-0 md:p-16 gap-10 w-full justify-center">-->
      <!--        <div class="flex flex-col w-[180px] gap-4">-->
      <!--          <p class="text-7xl font-bold text-primary "> 85%   </p>-->
      <!--          <p class="text-md font-semibold">de usuarios afirma que Paletudo ha mejorado la comunicación*</p>-->
      <!--        </div>-->
      <!--        <div class="flex flex-col w-[180px] gap-4 justify-between">-->
      <!--          <p class="text-7xl font-bold text-primary">86% </p>-->
      <!--          <p class="text-md font-semibold">creen que su capacidad para trabajar a distancia ha mejorado*</p>-->
      <!--        </div>-->
      <!--        <div class="flex flex-col w-[180px] gap-4 ">-->
      <!--          <p class="text-7xl font-bold text-primary">88% </p>-->
      <!--          <p class="text-md font-semibold">se sienten más conectados con sus equipos*</p>-->
      <!--        </div>-->
      <!--      </div>-->

    </section>

    <section class="flex flex-col p-5 py-16 justify-center items-center text-center gap-10 ">

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://i.pinimg.com/564x/ef/d9/90/efd990938b96edc263fb313e76bae08a.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://i.pinimg.com/564x/f5/b9/5f/f5b95f0f9cee7b9674f05fd79ddacafd.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://i.pinimg.com/564x/a1/f8/e8/a1f8e82983651e992bde33b29e8f1962.jpg" alt="">
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://i.pinimg.com/564x/82/1b/3b/821b3b8f62159dc9f24d9930e2b5f8d4.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://i.pinimg.com/564x/7e/8c/8c/7e8c8cf572d50c7d7b723e0ec8ec7f38.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://i.pinimg.com/564x/a3/52/3c/a3523c4ceaa6df2aa73b32545e773f42.jpg" alt="">
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://i.pinimg.com/564x/a3/52/3c/a3523c4ceaa6df2aa73b32545e773f42.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
          </div>
        </div>
      </div>


      <!--      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">-->
      <!--        <div class="grid gap-4">-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="grid gap-4">-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="grid gap-4">-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="grid gap-4">-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">-->
      <!--          </div>-->
      <!--          <div>-->
      <!--            <img class="h-auto max-w-full rounded-lg"-->
      <!--                 src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->



    </section>
    <section class="flex flex-col w-full justify-center items-center gap-10 p-4 md:p-10 bg-bgSeco py-16 my-24">
      <p class="text-textPrimary text-2xl font-lg  font-semibold">Empresas de todo el mundo ya confían en Paletudo</p>
      <div class="flex flex-wrap flex-row w-full justify-center gap-10 p-10">
        <div>
          <img style="" alt="Airbnb" loading="lazy" class="lazyload"
               data-src="https://a.slack-edge.com/e2fa17/marketing/img/logos/company/_color/airbnb-logo.png"
               data-srcset="https://a.slack-edge.com/e2fa17/marketing/img/logos/company/_color/airbnb-logo.png 1x,
               https://a.slack-edge.com/80588/marketing/img/logos/company/_color/airbnb-logo@2x.png 2x"
               src="https://a.slack-edge.com/e2fa17/marketing/img/logos/company/_color/airbnb-logo.png"
               srcset="https://a.slack-edge.com/e2fa17/marketing/img/logos/company/_color/airbnb-logo.png 1x,
                https://a.slack-edge.com/80588/marketing/img/logos/company/_color/airbnb-logo@2x.png 2x" width="112" height="35">
        </div>
        <div>
          <img style="" alt="Uber" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/ce67d/marketing/img/logos/company/_color/uber.png" data-srcset="https://a.slack-edge.com/ce67d/marketing/img/logos/company/_color/uber.png 1x, https://a.slack-edge.com/e2fa17/marketing/img/logos/company/_color/uber@2x.png 2x" src="https://a.slack-edge.com/ce67d/marketing/img/logos/company/_color/uber.png" srcset="https://a.slack-edge.com/ce67d/marketing/img/logos/company/_color/uber.png 1x, https://a.slack-edge.com/e2fa17/marketing/img/logos/company/_color/uber@2x.png 2x" width="75" height="35">
        </div>
        <div>
          <img style="" alt="NASA" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/5ae14bf/marketing/img/logos/company/_color/logo-nasa.png" data-srcset="https://a.slack-edge.com/5ae14bf/marketing/img/logos/company/_color/logo-nasa.png 1x, https://a.slack-edge.com/5ae14bf/marketing/img/logos/company/_color/logo-nasa@2x.png 2x" src="https://a.slack-edge.com/5ae14bf/marketing/img/logos/company/_color/logo-nasa.png" srcset="https://a.slack-edge.com/5ae14bf/marketing/img/logos/company/_color/logo-nasa.png 1x, https://a.slack-edge.com/5ae14bf/marketing/img/logos/company/_color/logo-nasa@2x.png 2x" width="67" height="35">
        </div>
        <div>
          <img style="" alt="Target" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/80588/marketing/img/logos/company/_color/target-logo.png" data-srcset="https://a.slack-edge.com/80588/marketing/img/logos/company/_color/target-logo.png 1x, https://a.slack-edge.com/80588/marketing/img/logos/company/_color/target-logo@2x.png 2x" src="https://a.slack-edge.com/80588/marketing/img/logos/company/_color/target-logo.png" srcset="https://a.slack-edge.com/80588/marketing/img/logos/company/_color/target-logo.png 1x, https://a.slack-edge.com/80588/marketing/img/logos/company/_color/target-logo@2x.png 2x" width="48" height="35">
        </div>
        <div>
          <img style="" alt="New York Times" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/044f5db/marketing/img/logos/company/_color/nyt.png" data-srcset="https://a.slack-edge.com/044f5db/marketing/img/logos/company/_color/nyt.png 1x, https://a.slack-edge.com/1e38e34/marketing/img/logos/company/logo-nyt.png 2x" src="https://a.slack-edge.com/044f5db/marketing/img/logos/company/_color/nyt.png" srcset="https://a.slack-edge.com/044f5db/marketing/img/logos/company/_color/nyt.png 1x, https://a.slack-edge.com/1e38e34/marketing/img/logos/company/logo-nyt.png 2x" width="230" height="35"></div>
        <div>
          <img style="" alt="Etsy" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/1e38e34/marketing/img/logos/company/logo-etsy.png" data-srcset="https://a.slack-edge.com/1e38e34/marketing/img/logos/company/logo-etsy.png 1x, https://a.slack-edge.com/044f5db/marketing/img/logos/company/_color/etsy@2x.png 2x" src="https://a.slack-edge.com/1e38e34/marketing/img/logos/company/logo-etsy.png" srcset="https://a.slack-edge.com/1e38e34/marketing/img/logos/company/logo-etsy.png 1x, https://a.slack-edge.com/044f5db/marketing/img/logos/company/_color/etsy@2x.png 2x" width="74" height="35">
        </div>
      </div>
    </section>

  </div>
</main>
<!--<div class="relative">-->
<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <img  class="absolute w-20 z-50"&ndash;&gt;-->
<!--&lt;!&ndash;          src="./assets/img/blog2/forest.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div class="-mb-20 z-50 flex justify-end items-end">-->
<!--    <svg version="1.1"-->
<!--         baseProfile="full"-->
<!--         width="500" height="250"-->
<!--         xmlns="http://www.w3.org/2000/svg"-->
<!--         xmlns:xlink="http://www.w3.org/1999/xlink">-->

<!--      <defs>-->
<!--        <g id="sun">-->
<!--          <circle x="15" y="0" cx="30" cy="30" r="30" style="fill:#fbe258"/>-->
<!--        </g>-->
<!--        <path id="sunPath" d="M0,250-->
<!--             A10,10 0 1,1 420,250"-->
<!--              style="stroke:#660000; fill:none;"/>-->
<!--        <image id="cloud" x="-74" y="40" width="74" height="29" xlink:href="https://res.cloudinary.com/dadj3ompc/image/upload/v1444693258/cloud_pvoxcr.png"/>-->
<!--      </defs>-->
<!--      <use xlink:href="#sun" x="0" y="0">-->
<!--        <animateMotion-->
<!--          begin="0s" dur="7s" repeatCount="indefinite">-->
<!--          <mpath xlink:href="#sunPath"/>-->
<!--        </animateMotion>-->
<!--        <animateTransform-->
<!--          attributeName="transform" type="scale"-->
<!--          values="0.5; 1.5; 0.5"-->
<!--          additive="sum"-->
<!--          dur="7s"-->
<!--          repeatCount="indefinite" />-->
<!--      </use>-->
<!--    </svg>-->
<!--  </div>-->
<!--  <svg class=" slider_waves w-full fill-bgSeco  " preserveAspectRatio="none" width="1440" height="74" viewBox="0 0 1440 74"><path d="M456.464 0.0433865C277.158 -1.70575 0 50.0141 0 50.0141V74H1440V50.0141C1440 50.0141 1320.4 31.1925 1243.09 27.0276C1099.33 19.2816 1019.08 53.1981 875.138 50.0141C710.527 46.3727 621.108 1.64949 456.464 0.0433865Z"></path></svg>-->

<!--</div>-->
