<nav id="navbar"
     class="font-px bg-primary transition-colors duration-1000 top-0 fixed z-3 w-full flex flex-wrap items-center justify-between navbar-expand-lg  text-text-primary"
>

  <div class="z-40 flex justify-between w-screen z-3">
    <div class="px-5 xl:px-12 py-2 flex w-full items-center">
      <button class='md:hidden flex flex-col h-10 w-10  rounded justify-center items-center group ' (click)="setNavbarOpen()">
        <div [ngClass]="{
        'h-1 w-6 mb-1 bg-lightBlue-500 transition ease transform duration-300':true,
        'rotate-45 translate-y-2 opacity-50 group-hover:opacity-100' : navbarOpen,
        'opacity-50 group-hover:opacity-100': !navbarOpen}"> </div>
        <div [ngClass]="{
        'h-1 w-6 mb-1 bg-lightBlue-500 transition ease transform duration-300':true,
        'opacity-0' : navbarOpen,
        'opacity-50 group-hover:opacity-100': !navbarOpen}">        </div>
        <div [ngClass]="{
        'h-1 w-6  mb-1 bg-lightBlue-500 transition ease transform duration-300':true,
        '-rotate-45 -translate-y-2 opacity-50 group-hover:opacity-100' : navbarOpen,
        'opacity-50 group-hover:opacity-100': !navbarOpen}">
        </div>
      </button>

      <a class="text-2xl font-bold font-heading mx-auto items-center" href="#">
        <!-- <img class="h-9" src="logo.png" alt="logo"> -->
        <img class="w-24 logo logo-black" src="https://static.pullandbear.net/2/static2/img/headLogo/logo_pull_black.svg" alt="PULL&amp;BEAR">
      </a>
      <!-- Nav Links -->
      <ul class="hidden md:flex px-4 mx-auto  items-center space-x-12">
        <li><a class="hover:text-gray-200" href="#">Home</a></li>
        <li><a class="hover:text-gray-200" href="#">Proyectos</a></li>
        <li><a class="hover:text-gray-200" href="#">Contacto</a></li>
        <li><a class="hover:text-gray-200" [routerLink]="['/shop/products']">Tienda</a></li>
      </ul>
      <div class="md:hidden space-x-5 flex items-end">
        <a class="flex items-center hover:text-gray-200" [routerLink]="['/shop/cart']">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="flex absolute -mt-2 ">
              <span class="animate-ping absolute inline-flex h-1 w-1 rounded-full bg-pink-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-1 w-1 bg-pink-500">
                </span>
              </span>
        </a>
        <a class="flex items-center hover:text-gray-200" (click)="setLoginOpen()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </a>
      </div>
      <div class="hidden space-x-5 md:flex items-end">
        <a class="flex items-center hover:text-gray-200" *ngIf="isDarkEnable" (click)="onClick.emit(changeTheme)" mode-button style="font-size:18px"><i class="fa-solid fa-moon"></i></a>
        <a class="flex items-center hover:text-gray-200" *ngIf="!isDarkEnable" (click)="onClick.emit(changeTheme)" mode-button style="font-size:16px"><i class="fa-solid fa-sun"></i></a>
        <a class="flex items-center hover:text-gray-200" [routerLink]="['/shop/cart']">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="flex absolute -mt-4 ml-4">
              <span class="animate-ping absolute inline-flex h-2 w-2 rounded-full bg-pink-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-2 w-2 bg-pink-500">
                </span>
              </span>
        </a>
        <a class="flex items-center hover:text-gray-200" (click)="setLoginOpen()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </a>
      </div>
    </div>
    <!-- Responsive navbar -->

  </div>
  <div
    [ngClass]="{ 'translate-x-0 ': loginOpen, 'translate-x-full': !loginOpen, 'opacity-100': loginOpen, 'opacity-0': !loginOpen}"
    class=" top-0 right-0 w-[10vw] bg-primary
       px-5 mt-12 fixed z-0
       ease-in-out duration-300
      ">
    <div class="divide-y divide-solid justify-end">
      <div>
        <a
          [routerLink]="['/auth/login']"
          class=" text-sm leading-relaxed inline-block mr-4 py-2 whitespace-nowrap"
        >
          Login
        </a>

      </div>
    </div>
  </div>
  <div
    [ngClass]="{ '-translate-x-0 ': navbarOpen, '-translate-x-full': !navbarOpen  }"
    class="top-0 left-0 w-[35vw] bg-primary
       px-5 pt-12   fixed z-2
       ease-in-out duration-300
       h-full
      ">
    <div class="divide-y divide-solid justify-end">
      <div>
        <a
          [routerLink]="['/']"
          class=" text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        >
          Home
        </a>
      </div>
      <div>
        <a
          [routerLink]="['/']"
          class=" text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        >
          Proyectos
        </a>
      </div>
      <div>
        <a
          [routerLink]="['/']"
          class=" text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        >
          Contacto
        </a>
      </div>
      <div>
        <a
          [routerLink]="['/ecommerce/products']"
          class="link-color text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        >
          Tienda
        </a>
      </div>
      <div>
      </div>
    </div>
  </div>
</nav>
