<div>
    <!-- Mobile filter dialog -->
  <div (click)="setFiltersOpen()" class="fixed inset-0 z-20 bg-black bg-opacity-25" [ngClass]="{ 'hidden': !filtersOpen, 'opacity-100': filtersOpen, 'opacity-0': !filtersOpen}">

  </div>

  <div   [ngClass]="{ 'translate-x-0 ': filtersOpen, 'translate-x-full': !filtersOpen, 'opacity-100': filtersOpen, 'opacity-0': !filtersOpen}"
         class="top-0 right-0 bg-primary h-full
       fixed z-30
       ease-in-out duration-300 w-3/4 ">
      <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
        <div class="relative ml-auto flex h-full w-full flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl scrollbar-thin scrollbar-thumb-blueGray-500 scrollbar-track-blueGray-200 h-32 overflow-y-scroll">
          <div class="flex items-center justify-between px-4">
            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
            <button (click)="setFiltersOpen()" type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
              <span  class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x-mark -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <!-- Filters -->
          <form class="mt-4 border-t border-gray-200">
            <!--
            <h3 class="sr-only">Categories</h3>
            <ul role="list" class="px-2 py-3 font-medium text-gray-900">
              <li *ngFor="let colletion of colletions;">
                <a href="#">{{colletion.name}}</a>
              </li>
            </ul>
             -->
            <div class="border-t border-gray-200 px-4 py-6">
              <h3 class="-mx-2 -my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-0" aria-expanded="false">
                  <span class="font-medium text-gray-900">Color</span>
                  <span class="ml-6 flex items-center" (click)="showColors()">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg *ngIf="!openColors" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <!--
                      Collapse icon, show/hide based on section open state.

                      Heroicon name: mini/minus
                    -->
                    <svg *ngIf="openColors" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <div class="pt-6" id="filter-section-0" *ngIf="openColors">
                <div class="space-y-4">
                  <div class="flex items-center" *ngFor="let color of colors;">
                    <input id="filter-color-0" name="{{color.name}}" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{color.name}}</label>
                  </div>
                </div>
              </div>
              <!-- Filter section, show/hide based on section state. -->
              <div class="pt-6" id="filter-section-mobile-0" *ngIf="openColors">
                <div class="space-y-6">
                  <div class="flex items-center" *ngFor="let color of colors;">
                    <input id="filter-mobile-color-0" name="{{color.name}}" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500">{{color.name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="border-t border-gray-200 px-4 py-6">
              <h3 class="-mx-2 -my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-1" aria-expanded="false">
                  <span class="font-medium text-gray-900">Category</span>
                  <span class="ml-6 flex items-center" (click)="showCategory()">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg *ngIf="!openCategory" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <!--
                      Collapse icon, show/hide based on section open state.

                      Heroicon name: mini/minus
                    -->
                    <svg *ngIf="openCategory" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <!-- Filter section, show/hide based on section state. -->
              <div class="pt-6" id="filter-section-mobile-1"  *ngIf="openCategory" >
                <div class="space-y-6">
                  <div class="flex items-center" *ngFor="let category of categories;">
                    <input id="filter-mobile-category-0" name="{{category.name}}" value="new-arrivals" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-category-0" class="ml-3 min-w-0 flex-1 text-gray-500">{{category.name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="border-t border-gray-200 px-4 py-6">
              <h3 class="-mx-2 -my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-2" aria-expanded="false">
                  <span class="font-medium text-gray-900">Size</span>
                  <span class="ml-6 flex items-center" (click)="showSize()">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg *ngIf="!openSize" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <!--
                      Collapse icon, show/hide based on section open state.

                      Heroicon name: mini/minus
                    -->
                    <svg *ngIf="openSize" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <!-- Filter section, show/hide based on section state. -->
              <div class="pt-6" id="filter-section-mobile-2" *ngIf="openSize" >
                <div class="space-y-6">
                  <div class="flex items-center" *ngFor="let size of sizes;">
                    <input id="filter-mobile-size-0" name="{{size.name}}" value="2l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-size-0" class="ml-3 min-w-0 flex-1 text-gray-500">{{size.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex items-baseline justify-between border-b border-gray-200">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">{{titleFilter}}</h1>

        <div class="flex items-center">
          <div class="relative inline-block text-left">
            <div class="flex justify-center">
              <div>
                <div class="dropdown relative">
                  <button
                    class="
          dropdown-toggle
          px-6
          py-2.5
          bg-transparent
          text-text-gray-500
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          hover:bg-transparent
          focus:bg-transparent focus:outline-none focus:ring-0
          active:bg-transparent active:text-gray-500
          transition
          duration-150
          ease-in-out
          flex
          items-center
          whitespace-nowrap
        "
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Sort
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="caret-down"
                      class="w-2 ml-2"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                    >
                      <path
                        fill="currentColor"
                        d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
                      ></path>
                    </svg>
                  </button>
                  <ul
                    class="
          dropdown-menu
          min-w-max
          absolute
          hidden
          bg-white
          text-base
          z-50
          float-left
          py-2
          list-none
          text-left
          rounded-lg
          shadow-lg
          mt-1
          hidden
          m-0
          bg-clip-padding
          border-none
        "
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li>
                      <a
                        class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
                        href="#"
                      >Más popular</a
                      >
                    </li>
                    <li>
                      <a
                        class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100"
                        href="#"
                      >Mejor valorado</a
                      >
                    </li>
                    <li>
                      <a
                        class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
                        href="#"
                      >Nuevo</a
                      >
                    </li>
                    <li>
                      <a
                        class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
                        href="#"
                      >Precio ascendente</a
                      >
                    </li>
                    <li>
                      <a
                        class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
                        href="#"
                      >Precio creciente</a
                      >
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="-m-2 ml-5 p-2 text-gray-400 hover:text-gray-500 sm:ml-7">
            <span class="sr-only">View grid</span>
            <!-- Heroicon name: mini/squares-2x2 -->
            <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 002 4.25v2.5A2.25 2.25 0 004.25 9h2.5A2.25 2.25 0 009 6.75v-2.5A2.25 2.25 0 006.75 2h-2.5zm0 9A2.25 2.25 0 002 13.25v2.5A2.25 2.25 0 004.25 18h2.5A2.25 2.25 0 009 15.75v-2.5A2.25 2.25 0 006.75 11h-2.5zm9-9A2.25 2.25 0 0011 4.25v2.5A2.25 2.25 0 0013.25 9h2.5A2.25 2.25 0 0018 6.75v-2.5A2.25 2.25 0 0015.75 2h-2.5zm0 9A2.25 2.25 0 0011 13.25v2.5A2.25 2.25 0 0013.25 18h2.5A2.25 2.25 0 0018 15.75v-2.5A2.25 2.25 0 0015.75 11h-2.5z" clip-rule="evenodd" />
            </svg>
          </button>
          <button type="button" class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden" (click)="setFiltersOpen()">
            <span class="sr-only">Filters</span>
            <!-- Heroicon name: mini/funnel -->
            <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>

      <section aria-labelledby="products-heading" class="pt-6 pb-24">
        <h2 id="products-heading" class="sr-only">s{{titleFilter}}</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          <!-- Filters -->
          <form class="hidden lg:block">
            <h3 class="sr-only">Categories</h3>
            <ul role="list" class=" space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900">
              <li *ngFor="let productType of productTypes;">
                <a [ngClass]="{'text-header-color': openProductType === productType.id}" (click)="showProductType(productType)">{{productType.name}}</a>
                <ul *ngIf="openProductType === productType.id" role="list" class="ml-2 text-sm font-medium text-gray-900">
                    <li *ngFor="let productTypeCat of productType.categories;" >
                      <a (click)="showproductTypeCat(productType, productTypeCat)" [ngClass]="{'text-header-color': openProductTypeCat === productTypeCat.id}">{{productTypeCat.name}}</a>
                      <ul *ngIf="openProductTypeCat === productTypeCat.id" role="list" class="ml-2 text-sm font-medium text-gray-900">
                        <li *ngFor="let productTypeSubCat of productTypeCat.subcategories;" >
                          <a (click)="showproductTypeSubCat(productType, productTypeCat,productTypeSubCat)" [ngClass]="{'text-header-color': openProductTypeSubCat === productTypeSubCat.id}">{{productTypeSubCat.name}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
              </li>
            </ul>

            <div class="border-b border-gray-200 py-6">
              <h3 class="-my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between  py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
                  <span class="font-medium text-gray-900">Colors</span>
                  <span class="ml-6 flex items-center" (click)="showColors()" >
                    <svg *ngIf="!openColors" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <svg *ngIf="openColors" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <div class="pt-6" id="filter-section-0" *ngIf="openColors">
                <div class="space-y-4">
                  <div class="flex items-center" *ngFor="let color of colors;">
                    <input id="filter-color-0" name="{{color.name}}" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{color.name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="border-b border-gray-200 py-6">
              <h3 class="-my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                  <span class="font-medium text-gray-900">Category</span>
                  <span class="ml-6 flex items-center" (click)="showCategory()">
                    <svg *ngIf="!openCategory"   class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <svg *ngIf="openCategory"   class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <!-- Filter section, show/hide based on section state. -->
              <div class="pt-6" id="filter-section-1" *ngIf="openCategory" >
                <div class="space-y-4">
                  <div class="flex items-center" *ngFor="let category of categories;">
                    <input  name="{{category.name}}" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{category.name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="border-b border-gray-200 py-6" >
              <h3 class="-my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-2" aria-expanded="false">
                  <span class="font-medium text-gray-900">Size</span>
                  <span class="ml-6 flex items-center" (click)="showSize()">
                    <svg *ngIf="!openSize" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <svg *ngIf="openSize" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <!-- Filter section, show/hide based on section state. -->
              <div class="pt-6" id="filter-section-2" *ngIf="openSize" >
                <div class="space-y-4">
                  <div class="flex items-center" *ngFor="let size of sizes;">
                    <input  name="{{size.name}}" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-color-0" class="ml-3 text-sm text-gray-600">{{size.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- Product grid -->
          <div class="lg:col-span-3">
            <!-- Replace with your content -->
            <div class="h-96 rounded-lg lg:h-full">
              <div class="grid gap-8 grig-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <!-- Product Item -->
                <div class="text-sm border border-1 border-gray-200 rounded-md hover:border-purple-600 transition-colors bg-white">
                  <a [routerLink]="['/shop/product-detail']"
                     class="block overflow-hidden">
                    <img src="assets/img/products/1_1.jpg" alt="" class="w-full rounded-lg hover:scale-105 hover:rotate-1 transition-transform">
                  </a>
                  <div class="p-4">
                    <h3 class="">
                      <a href="assets/img/products/1_1.jpg">
                        Logitech G502
                      </a>
                    </h3>
                    <h5 class="font-bold">$17.99</h5>
                  </div>
                  <div class="flex justify-between py-3 px-4">
                    <button class="w-10 h-10 rounded-full border border-1 border-purple-600 flex items-center justify-center hover:bg-purple-600 hover:text-white active:bg-purple-800 transition-colors bg-purple-600 text-white" :class="isInWatchlist(id) ? 'bg-purple-600 text-white' : 'text-purple-600'">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                      </svg>
                    </button>
                    <button class="bg-primary hover:bg-ternary text-white font-bold  px-2 rounded">
                      Add to Cart
                    </button>
                  </div>
                </div>
                <div class="text-sm border border-1 border-gray-200 rounded-md hover:border-purple-600 transition-colors bg-white">
                  <a [routerLink]="['/shop/product-detail']"
                     class="block overflow-hidden">
                    <img src="assets/img/products/1_1.jpg" alt="" class="w-full rounded-lg hover:scale-105 hover:rotate-1 transition-transform">
                  </a>
                  <div class="p-4">
                    <h3 class="">
                      <a href="assets/img/products/1_1.jpg">
                        Logitech G502
                      </a>
                    </h3>
                    <h5 class="font-bold">$17.99</h5>
                  </div>
                  <div class="flex justify-between py-3 px-4">
                    <button class="w-10 h-10 rounded-full border border-1 border-purple-600 flex items-center justify-center hover:bg-purple-600 hover:text-white active:bg-purple-800 transition-colors bg-purple-600 text-white" :class="isInWatchlist(id) ? 'bg-purple-600 text-white' : 'text-purple-600'">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                      </svg>
                    </button>
                    <button class="bg-primary hover:bg-ternary text-white font-bold  px-2 rounded">
                      Add to Cart
                    </button>
                  </div>
                </div>
                <div class="text-sm border border-1 border-gray-200 rounded-md hover:border-purple-600 transition-colors bg-white">
                  <a [routerLink]="['/shop/product-detail']"
                     class="block overflow-hidden">
                    <img src="assets/img/products/1_1.jpg" alt="" class="w-full rounded-lg hover:scale-105 hover:rotate-1 transition-transform">
                  </a>
                  <div class="p-4">
                    <h3 class="">
                      <a href="assets/img/products/1_1.jpg">
                        Logitech G502
                      </a>
                    </h3>
                    <h5 class="font-bold">$17.99</h5>
                  </div>
                  <div class="flex justify-between py-3 px-4">
                    <button class="w-10 h-10 rounded-full border border-1 border-purple-600 flex items-center justify-center hover:bg-purple-600 hover:text-white active:bg-purple-800 transition-colors bg-purple-600 text-white" :class="isInWatchlist(id) ? 'bg-purple-600 text-white' : 'text-purple-600'">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                      </svg>
                    </button>
                    <button class="bg-primary hover:bg-ternary text-white font-bold  px-2 rounded">
                      Add to Cart
                    </button>
                  </div>
                </div>
                <div class="text-sm border border-1 border-gray-200 rounded-md hover:border-purple-600 transition-colors bg-white">
                  <a [routerLink]="['/shop/product-detail']"
                     class="block overflow-hidden">
                    <img src="assets/img/products/1_1.jpg" alt="" class="w-full rounded-lg hover:scale-105 hover:rotate-1 transition-transform">
                  </a>
                  <div class="p-4">
                    <h3 class="">
                      <a href="assets/img/products/1_1.jpg">
                        Logitech G502
                      </a>
                    </h3>
                    <h5 class="font-bold">$17.99</h5>
                  </div>
                  <div class="flex justify-between py-3 px-4">
                    <button class="w-10 h-10 rounded-full border border-1 border-purple-600 flex items-center justify-center hover:bg-purple-600 hover:text-white active:bg-purple-800 transition-colors bg-purple-600 text-white" :class="isInWatchlist(id) ? 'bg-purple-600 text-white' : 'text-purple-600'">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                      </svg>
                    </button>
                    <button class="bg-primary hover:bg-ternary text-white font-bold  px-2 rounded">
                      Add to Cart
                    </button>
                  </div>
                </div>

                <!--/ Product Item -->
              </div>
            </div>
            <!-- /End replace -->
          </div>
        </div>
      </section>
    </main>
  </div>




