<form class="" [formGroup]="loginForm">
<div class="w-full  min-h-screen flex justify-center items-center bg-white">
  <div class="p-10 border-[1px]  border-slate-200 rounded-md flex flex-col items-center space-y-3">
    <div class="py-8">
      <img width="80" class="-mt-10" src="assets/icons/romero_logo.png" />
    </div>
    <input value="superadmin@gmail.com"
      type="email" formControlName="email" [ngClass]="{ 'border-solid border-b-2 border-b-red-500': submited && f.email.errors }"
      class="p-3 border-[1px] border-slate-500 rounded-sm w-80" placeholder="E-Mail" />
      <div *ngIf="submited && f.email.errors" >
        <div *ngIf="f.email.errors.required">Correo electronico requerido</div>
      </div>
    <div class="flex flex-col space-y-1">
      <input value="123456" formControlName="password" [ngClass]="{ 'border-solid border-b-2 border-b-red-500': submited && f.password.errors }"
             class="p-3 border-[1px] border-slate-500 rounded-sm w-80" placeholder="Password" />
      <p class="font-bold text-[#0070ba]">Forgot password?</p>
      <div *ngIf="submited && f.password.errors">
        <div *ngIf="f.password.errors.required">¿Se te olvidó tu contraseña?</div>
      </div>
    </div>
    <div class="flex flex-col space-y-5 w-full">
      <button [disabled]="loading"
      (click)="logIn()" class="w-full bg-primary rounded-3xl p-3 text-white font-bold transition duration-200 hover:bg-secondary">Log in</button>
      <div class="flex items-center justify-center border-t-[1px] border-t-slate-300 w-full relative">
        <div class="-mt-1 font-bod bg-white px-5 absolute">O</div>
      </div>
      <button (click)="onClick.emit()" class="w-full border-bg-primary hover:border-bg-secondary hover:border-[2px] border-[1px] rounded-3xl p-3 text-[#0070ba] font-bold transition duration-200">Registrarse</button>
      <a [routerLink]="['/auth']" class="w-full border-bg-primary hover:border-bg-secondary hover:border-[2px] text-center
      border-[1px] rounded-3xl p-3 text-[#0070ba] font-bold transition duration-200">client</a>
    </div>
    <!--
    <div class="flex space-x-1 p-10 text-sm">
      <p class="hover:underline cursor-pointer">German</p>
      <div class="border-r-[1px] border-r-slate-300"></div>
      <p class="font-bold hover:underline cursor-pointer">English</p>
    </div>
     -->
  </div>
</div>
</form>
