<div *ngIf="loading" class='flex items-center justify-center h-96'>
  <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
  <p class="ml-2"></p>
</div>
<div *ngIf="!loading"
  class="animate__animated animate__fadeIn animate__fadeIn--slow block p-10 container lg:w-2/3 xl:w-2/3 mx-auto">
  <h1 class="text-3xl font-bold mb-6">Delivery options</h1>
  <div x-data="" class="bg-bgPrim p-4 rounded-lg shadow">
    <div class="my-auto ml-5 h-full flex-col space-y-12 text-left text-textSecondary">
      <div class="flex flex-col space-y-4">
        <div class="flex flex-row space-x-2">
          <div class="w-full" *ngIf="carriers" >
            <label class="block text-sm font-medium ">Select an option</label>
            <!--Enable shipypro-->
            <!--<div *ngFor="let value of rates" class="mt-4">
              <input (change)="selectRate(value)" name="rate" value="{{value.carrier_id}}" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
              <label class="ml-3 text-sm text-gray-600 mt-4">{{value.carrier}} {{value.detailed_pricing[0].price/100 | number:'1.2-2'}}€</label>
              <label class="ml-3 text-sm text-gray-600 mt-4">Fecha de entrega : {{value.delivery_days}} dias</label>
            </div>-->
            <div *ngFor="let value of carriers" class="p-10" id="delivery_options">
              <input (change)="selectRate(value)" name="rate" value="{{value.carrier_id}}" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
              <label class="ml-3 text-sm  mt-4">{{value.carrier}} {{value.rate/100 | number:'1.2-2'}}€</label>
              <label class="ml-3 text-sm  mt-4">Delivery : {{value.delivery_days}} dias</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="border-t border-gray-300 pt-4" >
      <div class=" flex items-end justify-end">
        <app-button3d  (click)="goToNextStep()" class="w-1/4 flex justify-end items-end "
                       [rounded]="'5px'" [title]="''"
                       [type]="'btn_primary'"
                       [font_size]="'12px'" [font_body_weight]="'900'" [height]="'35px'"
                       [raise]="2" [width]="'100%'">
          <div class="w-full h-full gap-3 text-warmGray-50 flex flex-nowrap justify-center items-center uppercase">
            <p>Continue</p>
          </div>
        </app-button3d>
      </div>

    </div>
  </div>
</div>
